@charset "UTF-8";
/*
 Theme Name:   Virtue Premium - Dookolapracy child theme
 Theme URI:    #
 Description:  Virtue Premium - Dookolapracy child theme
 Author:       Bartosz Pendyk
 Author URI:   #
 Template:     virtue_premium
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  virtue_premium_child
*/
/*
@TODO Refactor those file names and ...
*/
.product-template-default .summary .price {
  font-size: 18px !important;
  color: #035c82; }

#dookola_social_icon_top {
  display: flex;
  width: 44px;
  position: fixed;
  box-sizing: border-box;
  z-index: 999;
  top: 200px;
  flex-direction: column;
  right: 0px;
  transition: all 400ms linear; }
  #dookola_social_icon_top a {
    display: block;
    color: #ffffff;
    font-size: 18px;
    position: relative;
    line-height: 100%; }
    #dookola_social_icon_top a i {
      padding: 15px 10px;
      box-sizing: border-box;
      color: #ffffff;
      font-size: 20px; }
    #dookola_social_icon_top a.dookola_linkedin, #dookola_social_icon_top a.dookola_fb, #dookola_social_icon_top a.dookola_insta, #dookola_social_icon_top a.dookola_yt {
      background-color: #14879B; }
    #dookola_social_icon_top a.dookola_linkedin:hover {
      background-color: #0077B5; }
    #dookola_social_icon_top a.dookola_fb:hover {
      background-color: #3b5999; }
    #dookola_social_icon_top a.dookola_insta:hover {
      background-color: #e4405f; }
    #dookola_social_icon_top a.dookola_yt:hover {
      background-color: #cd201f; }

#nav-second ul.sf-menu > li {
  width: 33.3333333% !important; }

#menu-dookola_submenu {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  #menu-dookola_submenu a {
    color: white; }

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.6); } }
/* Heart beat animation */
@keyframes show {
  to {
    opacity: 1; } }
.fa-ms-3-slider-heart-icon {
  animation: beat .25s infinite alternate;
  transform-origin: center; }

.ms-overlay-layers .dp_kafelki.active {
  background-color: #0c73b8; }

.load-more-archive-posts {
  background-color: #14879b;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-family: Lato;
  margin: 8rem auto 8rem auto;
  display: block; }

.archive .load-more-spinner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 180px;
  opacity: 0;
  animation: show .25s 1 alternate;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;
  /* FF 5+ */
  -o-animation-fill-mode: forwards;
  /* Not implemented yet */
  animation-fill-mode: forwards; }
  .archive .load-more-spinner-wrapper .load-more-spinner {
    font-size: 50px;
    line-height: 100%;
    color: rgba(62, 99, 84, 0.37); }

[id^="Pierwszamapa"] {
  white-space: initial !important; }

.page-mapa-wpisow #content {
  width: 100%; }

#o_nas.panel-row-style.panel-row-style-for-1449-4 {
  width: 100%; }
  @media screen and (min-width: 768px) {
    #o_nas.panel-row-style.panel-row-style-for-1449-4 {
      width: 100%;
      margin: 0 auto; } }
  @media screen and (min-width: 991px) {
    #o_nas.panel-row-style.panel-row-style-for-1449-4 {
      width: 980px; } }

#pg-1449-2 {
  overflow: hidden; }

#content div.product form.cart {
  margin-top: 3em; }

.contentclass {
  padding-top: 0px;
  padding-bottom: 0; }

#containerfooter a.ow-button-hover.sow-social-media-button {
  padding: 0.35em 0.35em;
  opacity: 0.5;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

#containerfooter a.ow-button-hover.sow-social-media-button:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }

#containerfooter .widget {
  margin-top: 15px; }

/* ================================ */
/*          KOOT CUSTOMIZER         */
/* ================================ */
/* ================================ */
/*       TYPOGRAPHY MAIN STYLE      */
/* ================================ */
body {
  font-size: 15px;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: -0.018em;
  line-height: 1.5em;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.005);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body.home, body.single-post .main, body.page-template:not(.page-template-page-blog).page:not(.page-id-1378) .main {
  font-size: 16px;
  line-height: 1.68em; }

body.page-template.page.page-chce-zmienic-prace .main,
body.page-template.page-szukam-pomyslu-na-siebie .main {
  font-size: 15px !important;
  line-height: 1.5em !important; }

body:not(.page-template-page-blog) .main p, body .main ol li, body .main ul li, body .main li,
.excerpt {
  font-size: 0.97em !important; }

body .main ol {
  font-weight: normal; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  font-style: normal;
  line-height: 1.34em !important;
  letter-spacing: -0.025em; }

.entry-content.clearfix hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  /*border-top: 1px solid #fff !important;*/
  border-top: 1px dotted #cecece !important;
  display: block;
  width: 100% !important; }

a img[class*=wp-image], [class*=wp-image] {
 /* padding: 0;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.055);
 -moz-box-shadow: 0 1px 3px rgba(0,0,0,.055);
 box-shadow: 1px 2px 12px rgba(0,0,0,.055);*/
  border-color: inherit !important;
  box-shadow: inherit !important; }

img.alignleft {
  padding-right: 15px;
  padding-left: 0px; }

img.alignright {
  padding-right: 0px;
  padding-left: 15px; }

.main p:not(.mailpoet_paragraph) a:hover:not(.read_more), .main a:hover span:not(.postday), .main a[target="_blank"]:hover:before {
  color: #14879b !important; }

#post-grid-1590 .read_more:hover, a.element.element_2.read_more {
  color: #fff !important; }

#content a [class*=wp-image]:hover {
  opacity: 1; }

.blog_carousel .blog_item:hover .imghoverclass a img {
  opacity: 0.9; }

input.mailpoet_submit {
  padding: 12px 20px;
  background: #14879b;
  border: 0 !important;
  color: #fff;
  transition: background .6s ease-out;
  -webkit-transition: background .6s ease-out;
  -moz-transition: background .6s ease-out;
  -o-transition: background .6s ease-out; }

input.mailpoet_submit:hover {
  background: #035c82; }

#post-grid-1590 .title {
  font-size: 20px;
  font-weight: 700;
  color: #035c82;
  text-transform: uppercase;
  line-height: 1.34em !important; }

blockquote, blockquote p {
  font-size: 20px !important;
  font-style: italic !important;
  padding-top: 3px !important;
  margin: 25px 0 25px 5px; }

blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
  font-style: italic !important;
  font-weight: 600 !important; }

/* ================================ */
/*  NAVI MAIN MENU HOVER + CURRENT  */
/* ================================ */
#cat_nav.navclass {
  background: #0a6683; }

#nav-second ul.sf-menu li > a[aria-current="page"] {
  background-color: #14879b !important; }

/* ================================ */
/*       HOME KARUZELA Z LOGO       */
/* ================================ */
.slick-slider .portfolio_item .imghoverclass a {
  height: 190px; }

.slick-slider .portfolio_item .imghoverclass a img {
  width: auto;
  height: 100%;
  margin: 0;
  max-height: 120px;
  text-align: center;
  left: 0;
  right: 0;
  overflow: hidden;
  width: -webkit-fill-available;
  object-fit: contain; }

.slick-slider .portfolio_item a.portfoliolink {
  opacity: 1 !important; }

.slick-slider .portfolio_item a.portfoliolink h5 {
  color: #5f6069;
  position: relative;
  vertical-align: top;
  display: block; }

.slick-slider .portfolio_item:hover a.portfoliolink h5 {
  opacity: 1;
  color: #035c82; }

/* ================================ */
/*      HEADER + TITLE STYLE       */
/* ================================ */
.entry-title {
  text-transform: uppercase;
  margin-bottom: 20px !important; }

.entry-title:hover {
  color: #14879b !important; }

/*.post header h1.entry-title, */
.page-header h1 {
  color: #14879b !important;
  line-height: 1.34em !important;
  font-size: 36px !important;
  font-weight: 900 !important; }

.page-header {
  border-bottom: 3px solid #14879b;
  padding-bottom: 0px;
  margin-bottom: 30px; }

/* ================================ */
/*   BLOG ARCHIVE + SINGLE STYLE    */
/* ================================ */
.text-style-inherit .siteorigin-widget-tinymce.textwidget h1,
.text-style-inherit .siteorigin-widget-tinymce.textwidget h2,
.text-style-inherit .siteorigin-widget-tinymce.textwidget h3,
.text-style-inherit .siteorigin-widget-tinymce.textwidget h4,
.text-style-inherit .siteorigin-widget-tinymce.textwidget h5,
.text-style-inherit .siteorigin-widget-tinymce.textwidget h6 {
  line-height: inherit !important;
  color: inherit !important;
  font-weight: inherit !important;
  letter-spacing: inherit !important; }

/* ================================ */
/*   BLOG ARCHIVE + SINGLE STYLE    */
/* ================================ */
.page-template-page-blog h3.entry-title, .archive h3.entry-title, aside section.widget h3 {
  text-transform: uppercase;
  margin-top: -5px;
  padding-bottom: 10px;
  /* border-bottom: 1px dotted #e1e4e6; */
  border-bottom: 3px solid #ededef;
  color: #035c82; }

section.widget h3 {
  font-size: 20px !important; }

.page-template-page-blog .entry-content p,
.archive .entry-content p {
  letter-spacing: -0.02em;
  line-height: 1.5em;
  margin-top: 5px;
  margin-bottom: 14px; }

.page-template-page-blog .entry-content p strong, .archive .entry-content p strong {
  font-weight: 400 !important; }

.page-template-page-blog .subhead, .page-template-page-blog .subhead a, .postcommentscount,
.single .subhead, .single .subhead a,
.archive .subhead, .archive .subhead a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 97%;
  letter-spacing: .02em;
  font-weight: normal !important;
  line-height: 1.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.005);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

.page-template-page-blog .postauthortop,
.archive .postauthortop {
  display: block; }

.page-template-page-blog .bg-lightgray, .single .postdate.bg-lightgray.headerfont,
.archive .bg-lightgray {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /*background: rgb(45, 92, 136);*/
  background: #14879b;
  color: #fff;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.005);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  border-left: 1px solid #fff;
  border-bottom: 1px dotted #fff; }

.single .postdate.bg-lightgray.headerfont {
  padding-top: 10px;
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 18px; }

.page-template-page-blog .bg-lightgray,
.archive .bg-lightgray {
  margin-top: -5px;
  padding-top: 3px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 9px; }

.page-template-page-blog span.postday, .single .postdate.bg-lightgray.headerfont span.postday,
.archive span.postday {
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  font-size: 4em;
  font-weight: 900;
  letter-spacing: -0.015em; }

.page-template-page-blog span.posttags, span.posttags {
  color: #ffffff00; }

.page-template-page-blog span.posttags a, span.posttags a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  display: inline-block;
  margin: 0 1px 4px 0;
  padding: 0 18px 0 12px;
  height: 24px;
  border-radius: 3px 0 0 3px;
  background: #ededef;
  color: #76797b;
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  -webkit-transition: all 0.4s; }

.page-template-page-blog span.posttags a::after, span.posttags a::after {
  position: absolute;
  top: 0;
  right: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 10px solid #ededef;
  background: #fff;
  content: '';
  -webkit-transition: all 0.4s; }

.page-template-page-blog span.posttags a:hover, span.posttags a:hover {
  background-color: #14879b;
  color: white !important; }

.page-template-page-blog span.posttags a:hover::after, span.posttags a:hover::after {
  border-left-color: #14879b; }

.page-template-page-blog .postlist article,
.archive .postlist article {
  border-color: #fff;
  border-bottom: 1px dotted #ededef;
  padding-bottom: 20px; }

.page-template-page-blog .postlist .col-md-7 header,
.archive .postlist .col-md-7 header {
  padding-top: 0; }

.page-template-page-blog .page-header h1,
.archive .page-header h1 {
  color: #14879b;
  font-weight: 900; }

.page-template-page-blog .subhead a,
.single .subhead a,
.archive .subhead a {
  color: #14879b;
  font-weight: 600 !important; }

.page-template-page-blog .subhead a:hover,
.single .subhead a:hover,
.archive .subhead a:hover {
  color: #035c82; }

.single .subhead {
  margin-bottom: 20px; }

.page-template-page-blog .page-template-page-blog span.posttags i, span.posttags i,
.page-template-page-blog span.posttags > i, span.posttags > i {
  display: none; }

.page-template-page-blog .imghoverclass.img-margin-center,
.archive .imghoverclass.img-margin-center {
  margin-bottom: 35px; }

.postmeta.updated.color_gray {
  background: #fff; }

.single.single-post .row.single-article .col-lg-9 .post-single-img img {
  /* width: 870px !important; */
  margin-bottom: 10px;
  width: 100% !important; }

.single-article .post header h1.entry-title {
  line-height: 1.2em !important;
  text-transform: none;
  letter-spacing: -0.055em;
  padding-bottom: 15px;
  border-bottom: 3px solid #f7f7f7;
  margin-bottom: 45px !important;
  font-size: 28px;
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;*/
  min-height: 65px; }

.blog_carousel .blog_item .bcarousellink > header .subhead {
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  margin-bottom: 5px; }

.blog_carousel .blog_item .bcarousellink > header .subhead {
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  margin-bottom: 5px; }

.single-post .main a.bcarousellink p, a.bcarousellink p {
  font-size: 15px !important;
  line-height: 1.4em; }

.single-post .single-footer {
  padding-top: 25px;
  border-top: 1px dotted #eee;
  margin-top: 15px; }

.blog_carousel .blog_item .bcarousellink > header .subhead
footer.single-footer {
  margin-top: 25px; }

footer.single-footer .kad-post-navigation {
  margin-top: 45px; }

footer.single-footer .kad-post-navigation a {
  color: #76797b; }

footer.single-footer .kad-post-navigation a:hover {
  color: #fff !important; }

#blog_carousel_container .title {
  text-transform: uppercase;
  padding-bottom: 15px; }

.single-article .comment-meta {
  font-size: 12px;
  letter-spacing: -0.03em; }

#comments h5.media-heading {
  color: #454556; }

#comments .media-heading a {
  color: #035c82; }

#comments p {
  font-size: 14px !important;
  line-height: 1.5em;
  font-style: italic;
  font-weight: 500; }

.comment-header.clearfix {
  margin-bottom: 8px; }

#comments h5.media-heading:after {
  content: " ";
  display: block;
  width: 100%;
  min-width: 160px;
  border-bottom: 1px dotted #c5c5c5;
  padding-top: 5px; }

.single-article #comments p {
  font-size: 14px !important;
  line-height: 1.5em;
  font-style: italic;
  font-weight: 500; }

.comment-header.clearfix {
  margin-bottom: 8px; }

#comments h5.media-heading:after {
  content: " ";
  display: block;
  width: 100%;
  min-width: 160px;
  border-bottom: 1px dotted #c5c5c5;
  padding-top: 5px; }

@media screen and (max-width: 480px) {
  .comment-meta {
    display: block;
    width: 100%;
    text-align: left; } }
/* ================================ */
/*       ASSIDE SIDEBAR STYLE       */
/* ================================ */
.widget-first {
  margin-top: 0 !important; }

/* ================================ */
/*      EXCERPT STYLE REMOVED       */
/* ================================ */
#post-grid-1590 .excerpt {
  color: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important; }

#post-grid-1590 .element_1 {
  padding: 5px 1px !important; }

/* ================================ */
/*     STRONA KATEGORIE Z GRID      */
/* ================================ */
body:not(.home) .the-post-grid_category .rt-tpg-container .isotope1 .rt-holder .rt-img-holder img {
  width: 100% !important; }

body:not(.home) .the-post-grid_category .rt-tpg-container .isotope1 .rt-holder .post-meta-user span.comment-link {
  padding-right: 10px; }

body:not(.home) .the-post-grid_category h2.entry-title {
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 1.34em !important;
  letter-spacing: -0.025em;
  color: #035c82 !important;
  text-transform: uppercase; }

body:not(.home) .the-post-grid_category h2.entry-title a:hover {
  color: #14879b; }

body:not(.home) .the-post-grid_category .post-meta-user a {
  color: #14879b; }

body:not(.home) .the-post-grid_category .post-meta-user a:hover {
  color: #14879b; }

body:not(.home) .the-post-grid_category .entry-content p {
  /*color: #52585e;
  font-family: "Noto Sans",Helvetica,Arial,sans-serif;*/
  color: #444d54;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: -0.02em;
  line-height: 1.5em;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.005);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  margin-top: 10px; }

body:not(.home) .the-post-grid_category .post-meta-user {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 97%;
  letter-spacing: .02em;
  font-weight: normal !important;
  line-height: 1.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.005);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  padding-top: 15px;
  border-top: 1px solid #e1e4e6; }

body:not(.home) .the-post-grid_category .rt-tpg-container .isotope1 .rt-holder .rt-detail {
  background: #fff;
  padding: 15px 0;
  border-bottom: 4px solid rgba(20, 135, 155, 0.96); }

/* ================================ */
/*     HOME 3xGRID IMAGE HEIGHT     */
/* ================================ */
/*     Bartosz Pendyk CSS FIXED     */
.home #row_z_postami h3.widget-title {
  margin: 15px auto; }

.home #row_z_postami .rt-tpg-container {
  padding-top: 10px; }

.home #row_z_postami .rt-img-holder {
  height: 269px; }

.home #row_z_postami h3.entry-title {
  font-size: 20px;
  font-weight: 700;
  margin: 2px auto 5px !important;
  min-height: 60px;
  line-height: 1.2em !important; }

.home #row_z_postami .post-content {
  font-size: 0.97em !important;
  text-align: center;
  line-height: 1.6em !important;
  text-shadow: 0px 0px 0px rgba(48, 49, 66, 0.25);
  padding: 0px 1px 15px 1px !important; }

.home #row_z_postami .rt-tpg-container .layout1 .rt-holder .rt-detail .read-more {
  text-align: center;
  width: 99%;
  margin: 0 auto;
  position: relative; }

.home #row_z_postami .rt-tpg-container .layout1 .rt-holder .rt-detail .read-more a {
  width: 100%;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

.home #row_z_postami .rt-tpg-container .layout1 .rt-holder .rt-detail .read-more a:hover {
  background-color: #14879b; }

@media screen and (max-device-width: 1600px) and (min-device-width: 992px) {
  .home #row_z_postami .rt-img-holder {
    height: 14vw !important; } }
@media screen and (max-device-width: 1440px) and (min-device-width: 1200px) {
  .home #row_z_postami h3.entry-title {
    font-size: 1.2em;
    min-height: 75px; }

  .home #row_z_postami .post-content {
    line-height: 1.42em !important;
    min-height: 105px; } }
@media screen and (max-device-width: 1199px) and (min-device-width: 768px) {
  .home #row_z_postami h3.entry-title {
    font-size: 1em;
    min-height: 60px; }

  .home #row_z_postami .post-content {
    line-height: 1.42em !important;
    font-size: 0.9em !important;
    min-height: 110px;
    padding-bottom: 5px !important; } }
@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .home #row_z_postami .rt-img-holder {
    height: 21vw !important; }

  .home #row_z_postami .rt-tpg-container .rt-col-sm-6:nth-last-of-type(1) {
    margin: 0 auto;
    width: 100%; }

  .home #row_z_postami .rt-tpg-container .rt-col-sm-6:nth-last-of-type(1) .rt-holder {
    width: 50%;
    position: relative;
    margin: 0 auto; }

  .home #row_z_postami h3.entry-title {
    font-size: 1.05em;
    margin-top: 0 !important; }

  .home #row_z_postami .post-content {
    min-height: 70px; } }
@media screen and (max-device-width: 767px) {
  .home #row_z_postami .rt-img-holder {
    height: auto !important; }

  .home #row_z_postami h3.entry-title, .home #row_z_postami .post-content {
    min-height: auto;
    margin-top: 15px; } }
/* ================================ */
/*  GAAD CSS STYLE MODE + REMOVED   */
/* ================================ */
@media screen and (min-width: 1200px) {
  #O_nas_dookolapracy {
    margin-bottom: 2.5rem !important; } }
/* ================================ */
/*     Bartosz Pendyk CSS FIXED     */
/* ================================ */
/*   FIXED RESPONSIVE CONTEINER     */
body:not(.home) .container {
  padding-right: 15px !important;
  padding-left: 15px !important; }

@media screen and (max-device-width: 991px) and (min-device-width: 426px) {
  body:not(.home) .container {
    padding-right: 16px !important;
    padding-left: 15px !important; } }
@media screen and (max-device-width: 425px) {
  body:not(.home) .container {
    padding-right: 15px !important;
    padding-left: 15px !important; } }
/*   FIXED LOGO SIZE + main menu     */
@media screen and (max-device-width: 768px) {
  #logo {
    width: auto;
    margin: 0 auto; } }
#logo {
  width: auto; }

#thelogo img {
  width: auto;
  /*max-width: 351px;*/
  height: auto;
  margin-left: initial;
  margin-top: 0; }

@media screen and (min-device-width: 992px) {
  body.home header#kad-banner .col-md-8.kad-header-right {
    margin-top: 15px; } }
@media screen and (min-device-width: 1200px) {
  body:not(.home) header#kad-banner .col-md-4.clearfix.kad-header-left {
    width: 30%; }

  body:not(.home) header#kad-banner .col-md-8.kad-header-right {
    width: 70%;
    margin-top: 10px; }

  nav#nav-main .sf-menu a {
    padding-right: 16px;
    padding-left: 16px; } }
@media screen and (max-device-width: 1199px) and (min-device-width: 991px) {
  body:not(.home) header#kad-banner > .container {
    width: 100%; }

  #logo {
    padding-left: 10px; }

  body:not(.home) header#kad-banner .col-md-4.clearfix.kad-header-left {
    width: 25%; }

  body:not(.home) header#kad-banner .col-md-8.kad-header-right {
    width: 75%; }

  nav#nav-main .sf-menu a {
    padding-right: 14px;
    padding-left: 14px; } }
/*   DODAĆ DO PAGE-O-NAS    */
a.ow-icon-placement-right.ow-button-hover {
  padding: 15px 22px 15px 14px !important; }

#klaudia-jarych .sep-triangle-bottom, #lukasz-jarych .sep-triangle-bottom {
  margin-top: -20px; }

@media screen and (min-device-width: 992px) {
  #klaudia-jarych .sep-triangle-bottom {
    margin-left: 22%; }

  #lukasz-jarych .sep-triangle-bottom {
    margin-left: -27%; } }
/*
@media screen
	and (min-device-width: 1025px) {
    .max-device-width1024px {
    display: none;
    visibility: hidden;
    height: 0 !important;
}
}
@media screen
	and (max-device-width: 1024px) {
   .min-device-width1025px {
    display: none;
    visibility: hidden;
    height: 0 !important;
}
}*/
.page-o-nas .section-title h3 {
  font-size: 40px;
  color: inherit;
  margin-bottom: 0; }
.page-o-nas .section-title-small h3 {
  font-size: 30px;
  color: inherit; }
.page-o-nas .section-more h4 {
  font-size: 30px;
  color: #363656; }
.page-o-nas .main .textwidget p {
  line-height: 1.5em;
  letter-spacing: 0.025em;
  margin-bottom: 12px; }
.page-o-nas .main .textwidget .fa-lg {
  vertical-align: -5%; }
.page-o-nas .main .textwidget b, .page-o-nas .main .textwidget strong {
  font-weight: 600;
  letter-spacing: 0.03em; }
.page-o-nas .main .widget h5 {
  letter-spacing: 0.025em; }
.page-o-nas .text-hover-white a.ow-button-hover:hover span {
  color: #ffffff !important; }
.page-o-nas .outline-radius-full .sow-icon-container span {
  width: 1.85em;
  height: 1.85em;
  line-height: 1.85em;
  vertical-align: middle;
  display: block;
  position: relative;
  border: 2px dotted #029bb5;
  border-radius: 50%; }
.page-o-nas a.ow-icon-placement-right .ow-button-hover {
  padding: 15px 22px 15px 14px !important; }
.page-o-nas #klaudia-jarych .sep-triangle-bottom, .page-o-nas #lukasz-jarych .sep-triangle-bottom {
  margin-top: -20px; }
@media screen and (min-device-width: 992px) {
  .page-o-nas #klaudia-jarych .sep-triangle-bottom {
    margin-left: 22%; }
  .page-o-nas #lukasz-jarych .sep-triangle-bottom {
    margin-left: -27%; } }
@media screen and (max-width: 480px) {
  .page-o-nas .sep-triangle-bottom {
    display: none; } }

/*
@TODO refactor to sass
*/
.page-konsultacje-cv .contentclass {
  padding-top: 0px; }

.page-konsultacje-cv .section-title h3 {
  font-size: 40px;
  color: inherit;
  margin-bottom: 0; }

.page-konsultacje-cv .text-hover-white a.ow-button-hover:hover span {
  color: #ffffff !important; }

.page-konsultacje-cv .text-style-inherit, .page-konsultacje-cv .text-style-inherit h4 {
  line-height: inherit !important;
  color: inherit !important;
  font-weight: inherit !important;
  letter-spacing: inherit !important; }

.page-konsultacje-cv #font-size1-1em h4 {
  font-size: 1.1em !important; }

.page-konsultacje-cv #font-size1em h4 {
  font-size: 1.1em !important; }

.page-konsultacje-cv .sow-headline-container h4.sow-sub-headline {
  padding-top: 0; }

.page-konsultacje-cv #border-dotted {
  border: 1px dotted #fff; }

.page-konsultacje-cv .outline-radius-full .sow-icon-container span {
  width: 1.85em;
  height: 1.85em;
  line-height: 1.85em;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  border: 2px dotted #ffffff;
  border-radius: 50%; }

/* TOP TITLE - HEADER TABELI */
.page-konsultacje-cv .so-widget-sow-price-table .ow-pt-column.ow-pt-featured.ow-pt-odd {
  padding: 0 5px; }

.page-konsultacje-cv .ow-pt-column .ow-pt-title {
  font-size: 1.4em !important;
  letter-spacing: 0.035em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) !important; }

.page-konsultacje-cv .ow-pt-column .ow-pt-details .ow-pt-price {
  font-weight: 600 !important;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) !important; }

.page-konsultacje-cv .ow-pt-column .ow-pt-details .ow-pt-per {
  color: rgba(255, 255, 255, 0.62) !important;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  font-size: 0.9em; }

.page-konsultacje-cv .ow-pt-column .ow-pt-image {
  background: #f9f9f9;
  display: block; }

.page-konsultacje-cv .ow-pt-column .ow-pt-image img {
  margin-left: 24%;
  padding-top: 5px; }

/* PAKIET SILVER - HEADER COLORS */
.page-konsultacje-cv .ow-pt-column.ow-pt-first.ow-pt-even {
  background: #eeeeee;
  border-radius: 5px; }

.page-konsultacje-cv .ow-pt-column.ow-pt-first.ow-pt-even .ow-pt-title, .page-konsultacje-cv .ow-pt-column.ow-pt-first.ow-pt-even .ow-pt-details {
  border-color: #4f5254 !important;
  border-top-color: #52565d !important;
  background-color: #56595b !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #575f61), color-stop(1, #7d8587));
  background: -ms-linear-gradient(bottom, #575f61, #7d8587);
  background: -moz-linear-gradient(center bottom, #575f61 0%, #7d8587 100%);
  background: -o-linear-gradient(#7d8587, #575f61);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d8587', endColorstr='#575f61', GradientType=0); }

/* PAKIET DIAMOND - HEADER COLORS */
.page-konsultacje-cv .ow-pt-column.ow-pt-last.ow-pt-even .ow-pt-title {
  border-color: #0a3e53 !important;
  border-top-color: #6ba0b7 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #051c25), color-stop(1, #0a3e53)) !important;
  background: -ms-linear-gradient(bottom, #051c25, #0a3e53) !important;
  background: -moz-linear-gradient(center bottom, #051c25 0%, #0a3e53 100%) !important;
  background: -o-linear-gradient(#0a3e53, #051c25) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a3e53', endColorstr='#051c25', GradientType=0) !important; }

.page-konsultacje-cv .ow-pt-column.ow-pt-last.ow-pt-even .ow-pt-details {
  border-color: #09374a !important;
  border-top-color: #0d4f6a !important;
  background-color: #0d4f6a !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #063042), color-stop(1, #0d4f6a)) !important;
  background: -ms-linear-gradient(bottom, #063042, #0d4f6a);
  background: -moz-linear-gradient(center bottom, #063042 0%, #0d4f6a 100%);
  background: -o-linear-gradient(#0d4f6a, #063042);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d4f6a', endColorstr='#063042', GradientType=0); }

/* PAKIET GOLD - HEADER COLORS */
.page-konsultacje-cv .ow-pt-column.ow-pt-featured .ow-pt-title {
  border-color: #8a661d !important;
  border-top-color: #e6cc97 !important;
  background-color: #9e7522 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8a5200), color-stop(1, #caa730)) !important;
  background: -ms-linear-gradient(bottom, #8a5200, #caa730) !important;
  background: -moz-linear-gradient(center bottom, #8a5200 0%, #caa730 100%) !important;
  background: -o-linear-gradient(#8a5200, #caa730) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a5200', endColorstr='#caa730', GradientType=0) !important; }

.page-konsultacje-cv .ow-pt-column.ow-pt-featured .ow-pt-details {
  border-color: #966f20 !important;
  border-top-color: #7b5319 !important;
  background-color: #b38527 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #9e620a), color-stop(1, #b38527)) !important;
  background: -ms-linear-gradient(bottom, #9e620a, #b38527) !important;
  background: -moz-linear-gradient(center bottom, #9e620a 0%, #b38527 100%) !important;
  background: -o-linear-gradient(#b38527, #9e620a) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b38527', endColorstr='#9e620a', GradientType=0) !important; }

/* LISTA OEFRTA - BODY TABELI */
.page-konsultacje-cv .ow-pt-column .ow-pt-image {
  background: #f9f9f9; }

.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature {
  padding: 18px 20px 18px 18px !important; }

.ow-pt-column .ow-pt-features .ow-pt-feature:first-child {
  padding-top: 14px !important; }

.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature:last-child {
  border-bottom: 2px solid #fff !important;
  min-height: 60px !important; }

.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature .sow-feature-icon {
  vertical-align: top !important;
  padding-top: 5px;
  padding-right: 5px; }

.page-konsultacje-cv span.sow-icon-fontawesome:before {
  font-size: 1.45em; }

.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature .sow-feature-text p {
  line-height: 1.57em; }

.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature .sow-feature-text p > b {
  font-weight: 600;
  /*color: #008cad;*/
  color: #444546;
  letter-spacing: -0.05em; }

.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature .sow-feature-text p > span {
  text-align: center !important; }

/* WYBIERAM BUTTON - FOOTER TABELI */
.page-konsultacje-cv .ow-pt-button a.ow-pt-link {
  width: 100%;
  max-width: 300px;
  background: #d42e2e00 !important;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.2em !important;
  /* font-weight: 500; */
  text-shadow: none !important;
  border: none !important;
  box-shadow: none !important; }

.page-konsultacje-cv .ow-pt-columns-atom .ow-pt-column.ow-pt-featured .ow-pt-button a.ow-pt-link, .page-konsultacje-cv .ow-pt-columns-atom .ow-pt-column .ow-pt-button a.ow-pt-link {
  background: transparent !important;
  background-color: rgba(212, 46, 46, 0) !important; }

.page-konsultacje-cv .ow-pt-button {
  background-color: #d42e2e !important;
  background: #d42e2e !important;
  border-radius: 0 0 5px 5px; }

.page-konsultacje-cv .ow-pt-button:hover {
  background-color: #c51d1d !important;
  background: #c51d1d !important; }

@media screen and (max-width: 1024px) and (min-width: 992px) {
  .page-konsultacje-cv .ow-pt-column .ow-pt-image img {
    width: 160px;
    height: auto; } }
@media screen and (max-width: 991px) {
  .sow-headline, h1.sow-sub-headline, h2.sow-sub-headline, h3.sow-sub-headline {
    text-align: center !important; } }
@media screen and (max-width: 768px) {
  .ow-button-base.ow-button-align-left {
    text-align: center;
    margin-top: -35px; } }
@media screen and (max-width: 991px) and (min-width: 681px) {
  .page-konsultacje-cv .ow-pt-column .ow-pt-image img {
    width: 130px;
    height: auto; }

  .page-konsultacje-cv .ow-pt-column.ow-pt-first.ow-pt-even .ow-pt-price,
  .page-konsultacje-cv .ow-pt-column.ow-pt-featured.ow-pt-odd .ow-pt-price,
  .page-konsultacje-cv .ow-pt-column.ow-pt-last.ow-pt-even .ow-pt-price {
    font-size: 1.5em;
    line-height: 1em; } }
@media screen and (max-width: 680px) and (min-width: 600px) {
  .page-konsultacje-cv .ow-pt-column .ow-pt-image img {
    margin-left: 33%; } }
@media screen and (max-width: 599px) and (min-width: 480px) {
  .page-konsultacje-cv .ow-pt-column .ow-pt-image img {
    margin-left: 28%; } }
@media screen and (max-width: 424px) {
  .page-konsultacje-cv .ow-pt-column .ow-pt-image img {
    width: 150px;
    height: auto; } }
/*centering the X icon on price tables*/
.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature.no-option span.sow-icon-fontawesome {
  width: 100%;
  text-align: center; }

.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature.no-option .sow-feature-icon {
  display: inline-block;
  width: 100%; }

.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature.no-option .sow-feature-text {
  display: none;
  visiblity: hidden;
  width: 0; }

.topbarmenu ul li a {
  color: #4a4e5d;
  display: inline-block; }
  .topbarmenu ul li a:hover {
    color: #00779c; }
.topbarmenu ul li:after {
  content: " | ";
  display: inline-block; }
.topbarmenu ul li.current-menu-item a {
  color: #00779c; }

nav#nav-main .sf-menu li.sklep > a {
  display: inline-block;
  color: #fff !important;
  background: #0a6683;
  /*background: #ce001b;*/ }
  nav#nav-main .sf-menu li.sklep > a:hover {
    background: #1b899c; }
  nav#nav-main .sf-menu li.sklep > a span:before {
    content: "\f07a";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 8px;
    font-size: 17px; }
nav#nav-main .sf-menu li.sklep.current-menu-item > a {
  background: #1b899c;
  color: #fff; }
nav#nav-main .sf-menu li.konsultacje {
  margin-right: 1px; }
  nav#nav-main .sf-menu li.konsultacje > a {
    display: inline-block;
    color: #fff !important;
    /*background: #2b2e3a;*/
    background: #4a4e5d; }
    nav#nav-main .sf-menu li.konsultacje > a:hover {
      background: #1b899c; }
    nav#nav-main .sf-menu li.konsultacje > a span:before {
      content: "\f2be";
      font: normal normal normal 14px/1 FontAwesome;
      padding-right: 8px;
      font-size: 17px; }
  nav#nav-main .sf-menu li.konsultacje.current-menu-item > a {
    background: #1b899c;
    color: #fff; }

#nav-second ul.sf-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  #nav-second ul.sf-menu > li {
    width: 100% !important;
    /*width: auto !important;*/
    float: none;
    display: inline-block; }
    #nav-second ul.sf-menu > li > a {
      /* padding-left: 1vw;
       padding-right: 1vw;*/
      letter-spacing: 0.02em; }
  #nav-second ul.sf-menu li.menu-chce-wiedziec-jak-sie-zyje-za-granica {
    min-width: 265px; }

@media screen and (min-width: 1200px) {
  #nav-second ul.sf-menu li.menu-chce-wiedziec-jak-sie-zyje-za-granica {
    min-width: 285px; } }
@media screen and (max-width: 1199px) {
  #nav-second ul.sf-menu li.menu-chce-zmienic-prace {
    max-width: 145px; } }
@media screen and (max-width: 991px) {
  #nav-second ul.sf-menu {
    display: none; } }
.col-md-6.col-sm-6.kad-topbar-left {
  width: 75%; }

.col-md-6.col-sm-6.kad-topbar-right {
  width: 25%; }

.single-product header#kad-banner {
  margin-bottom: 35px; }

/*
@TODO From this point some doubled code can be present, clean up needed
*/
/* line 4, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
.topbarmenu ul li a {
  color: #4a4e5d;
  display: inline-block; }

/* line 7, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
.topbarmenu ul li a:hover {
  color: #00779c; }

/* line 11, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
.topbarmenu ul li:after {
  content: " | ";
  display: inline-block; }

/* line 17, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
.topbarmenu ul li.current-menu-item a {
  color: #00779c; }

/* line 31, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.sklep > a {
  display: inline-block;
  color: #fff !important;
  background: #0a6683;
  /*background: #ce001b;*/ }

/* line 37, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.sklep > a:hover {
  background: #1b899c; }

/* line 41, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.sklep > a span:before {
  content: "\f07a";
  font: normal normal normal 14px/1 FontAwesome;
  padding-right: 8px;
  font-size: 17px; }

/* line 50, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.sklep.current-menu-item > a {
  background: #1b899c;
  color: #fff; }

/* line 57, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.konsultacje {
  margin-right: 1px; }

/* line 60, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.konsultacje > a {
  display: inline-block;
  color: #fff !important;
  /*background: #2b2e3a;*/
  background: #4a4e5d; }

/* line 66, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.konsultacje > a:hover {
  background: #1b899c; }

/* line 70, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.konsultacje > a span:before {
  content: "\f2be";
  font: normal normal normal 14px/1 FontAwesome;
  padding-right: 8px;
  font-size: 17px; }

/* line 79, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.konsultacje.current-menu-item > a {
  background: #1b899c;
  color: #fff; }

/* line 90, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
#nav-second ul.sf-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

/* line 95, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
#nav-second ul.sf-menu > li {
  width: 100% !important;
  /*width: auto !important;*/
  float: none;
  display: inline-block; }

/* line 101, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
#nav-second ul.sf-menu > li > a {
  /* padding-left: 1vw;
         padding-right: 1vw;*/
  letter-spacing: 0.02em; }

/* line 108, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
#nav-second ul.sf-menu li.menu-chce-wiedziec-jak-sie-zyje-za-granica {
  min-width: 265px; }

@media screen and (min-width: 1200px) {
  /* line 117, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
  #nav-second ul.sf-menu li.menu-chce-wiedziec-jak-sie-zyje-za-granica {
    min-width: 285px; }

  #nav-second ul.sf-menu li.menu-blog {
    max-width: 84px; }

  #nav-second ul.sf-menu li.menu-spis-tresci {
    max-width: 125px; } }
@media screen and (max-width: 1199px) {
  /* line 127, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
  #nav-second ul.sf-menu li.menu-chce-zmienic-prace {
    max-width: 145px; }

  #nav-second ul.sf-menu li.menu-blog {
    max-width: 50px; }

  #nav-second ul.sf-menu li.menu-spis-tresci {
    max-width: 99px; } }
@media screen and (max-width: 991px) {
  /* line 136, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
  #nav-second ul.sf-menu {
    display: none; }

  .kt-not-mobile-sticky #topbar {
    background: #1487a1; }

  .kt-not-mobile-sticky #topbar ul li a {
    color: #fff; } }
@media screen and (max-width: 767px) {
  #topbar {
    display: block; } }
.home .main {
  padding-right: 0;
  padding-left: 0; }
.home h3.widget-title {
  color: #0A6683;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase; }
.home [role="document"] {
  padding-top: 0; }
.home #dookola_zobacz_wiecej_autorzy > button,
.home #dookola_o_nas_autorzy > button {
  margin-top: 15px;
  border: none;
  color: #ffffff;
  background-color: #14879b;
  padding: 7px 30px;
  font-weight: 700;
  margin-left: 10px;
  display: block; }
  .home #dookola_zobacz_wiecej_autorzy > button:hover,
  .home #dookola_o_nas_autorzy > button:hover {
    color: #ffffff;
    background-color: #0F6777; }
.home #row_z_postami .entry-title {
  text-align: center; }
.home #row_z_postami .rt-equal-height .rt-img-holder {
  max-height: 220px;
  overflow: hidden; }
  .home #row_z_postami .rt-equal-height .rt-img-holder img {
    min-height: 230px; }
.home #pre-footer #O_nas_dookolapracy_tekst {
  padding-top: 40px; }

.homepagecontent > br:first-of-type {
  display: none !important; }
@media screen and (min-width: 768px) {
  .homepagecontent.container {
    width: 100%; }
    .homepagecontent.container .main[role="main"] #post-grid-1590 .grid-items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .homepagecontent.container .main[role="main"] #post-grid-1590 .grid-items > * {
        min-width: 44%;
        width: 44%; }
        .homepagecontent.container .main[role="main"] #post-grid-1590 .grid-items > * .layer-media a {
          display: flex;
          max-height: 180px;
          justify-content: flex-start;
          align-items: center; } }
@media screen and (min-width: 991px) {
  .homepagecontent.container {
    width: 100%; }
    .homepagecontent.container .main[role="main"] #post-grid-1590 .grid-items > * {
      min-width: 30%;
      width: 30%; }
    .homepagecontent.container .main[role="main"] #post-grid-1590 .grid-items .layer-media a {
      max-height: 165px; } }
@media screen and (min-width: 1200px) {
  .homepagecontent.container {
    width: 100%; }
    .homepagecontent.container .main[role="main"] #post-grid-1590 .grid-items > * {
      min-width: 30%; }
    .homepagecontent.container .main[role="main"] #post-grid-1590 .grid-items .layer-media a {
      max-height: 310px; } }

#O_nas_dookolapracy {
  background-color: #035C82; }
  #O_nas_dookolapracy #O_nas_dookolapracy_tekst {
    padding-top: 40px;
    padding-right: 2rem;
    padding-left: 2rem; }
    #O_nas_dookolapracy #O_nas_dookolapracy_tekst h3 {
      color: white;
      font-size: 24px;
      line-height: 30px; }
    #O_nas_dookolapracy #O_nas_dookolapracy_tekst h4 {
      color: white;
      font-size: 16px; }
    #O_nas_dookolapracy #O_nas_dookolapracy_tekst p {
      color: white;
      font-size: 14px; }
    #O_nas_dookolapracy #O_nas_dookolapracy_tekst #buttony_nawigacyjne {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
  @media screen and (min-width: 768px) {
    #O_nas_dookolapracy {
      display: flex;
      align-items: center !important;
      padding-bottom: 0;
      position: relative; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #O_nas_dookolapracy #pgc-1449-2-0 {
      z-index: 2;
      background: rgba(3, 92, 130, 0.875);
      height: 100%;
      width: 50%;
      margin: 0;
      padding-bottom: 3rem; }
    #O_nas_dookolapracy #pgc-1449-2-1 {
      position: absolute;
      z-index: 0;
      width: 100%;
      top: 0; }
      #O_nas_dookolapracy #pgc-1449-2-1 img {
        max-width: 130%;
        width: 130%; } }

  @media screen and (min-width: 991px) {
    #O_nas_dookolapracy {
      display: flex;
      align-items: center !important;
      padding-bottom: 0;
      padding-left: 3.5rem; }
      #O_nas_dookolapracy > div {
        width: 50%; }
      #O_nas_dookolapracy #O_nas_dookolapracy_tekst {
        padding-top: 0; }
        #O_nas_dookolapracy #O_nas_dookolapracy_tekst h3 {
          font-size: 34px;
          max-width: 95%;
          line-height: 39px; }
        #O_nas_dookolapracy #O_nas_dookolapracy_tekst h4 {
          font-size: 18px; }
        #O_nas_dookolapracy #O_nas_dookolapracy_tekst p {
          color: white;
          font-size: 16px;
          padding-bottom: 1rem; } }
  @media screen and (min-width: 991px) and (max-width: 1200px) {
    #O_nas_dookolapracy #panel-1449-2-1-0 .sow-image-container {
      overflow: hidden; }
    #O_nas_dookolapracy #panel-1449-2-1-0 img {
      min-height: 55rem;
      max-width: unset;
      width: auto;
      transform: translateX(-20%); } }

  @media screen and (min-width: 1200px) {
    #O_nas_dookolapracy {
      margin-bottom: 6rem; } }

/* GRUPA NOVA B.P. MAPA WPISÓW */
.mapa-wpisow .kad_blog_fade_in {
  opacity: 1 !important;
  display: inline-block; }

.mapa-wpisow .page-template-page-blog .postauthortop {
  display: inline !important; }

@media screen and (min-width: 769px) {
  .mapa-wpisow .kt-intrinsic-container-center {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    max-width: 364px;
    padding-right: 15px;
    height: 230px;
    overflow: hidden; }

  .mapa-wpisow .imghoverclass.img-margin-center {
    float: left;
    display: inline-block;
    width: 35%; }

  .mapa-wpisow .postcontent h5.entry-title {
    font-size: 20px;
    line-height: 1.2em !important;
    margin-top: 0; }

  .mapa-wpisow .kad_blog_fade_in.grid_item:not(:first-of-type) {
    width: 100%;
    clear: both;
    margin-top: 0px;
    padding-top: 30px;
    border-top: 1px dotted #ccc;
    margin-bottom: 30px; }

  .mapa-wpisow .blog_item header, .mapa-wpisow-collab-10 .entry-content p, .mapa-wpisow-collab-10 .blog_item footer {
    margin-left: 35%; } }
/* FIX DLA FULL WIDTH 06-12-2018 */
.page-mapa-wpisow .main {
  padding: 0; }

.page-mapa-wpisow .container-1170px {
  max-width: 1170px;
  margin: 45px auto; }

/* GRUPA NOVA B.P. WSPÓŁPRACA */
.page-wspolpraca .grid-text-hover .widget_sow-editor {
  height: 100%; }

.page-wspolpraca .text-hover {
  opacity: 0;
  cursor: crosshair;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease; }

.page-wspolpraca .text-hover:hover {
  opacity: 0.95;
  -webkit-transition: all 0.3s ease-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s; }

.page-wspolpraca .section-title h3 {
  font-size: 40px;
  color: inherit;
  margin-bottom: 0; }

.page-wspolpraca .icon-outline-radius-full .sow-features-list span.sow-icon-elegantline {
  vertical-align: middle;
  display: block;
  position: relative;
  border: 2px dotted #029bb5;
  border-radius: 50%; }

.page-wspolpraca .sow-features-list .sow-features-feature h5 {
  margin: 0.2em 0 0.2em !important;
  line-height: 1.2em !important; }

.page-wspolpraca .sow-features-list .sow-features-feature .textwidget > p {
  line-height: 1.44em; }

.page-wspolpraca #formularz-brief .sow-accordion .sow-accordion-panel .sow-accordion-panel-content .sow-accordion-panel-border {
  padding: 15px; }

.page-wspolpraca #dp_brief_form {
  padding-bottom: 100px;
  text-align: center; }

.page-wspolpraca .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-title {
  text-align: center;
  font-size: 24px; }

.page-wspolpraca #dp_brief_form h1 {
  font-size: 22px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 30px; }

.page-wspolpraca .text-hover-white a.ow-button-hover:hover span {
  color: #ffffff !important; }

.page-wspolpraca .testimonials-carousel h3.widget-title, .testimonials-carousel .testimonialbottom p {
  color: #fff; }

.page-wspolpraca .testimonials-carousel .testimonialbottom p {
  margin-top: 10px; }

.page-wspolpraca #cat_nav {
  background-color: #14879b !important; }

.page-wspolpraca #nav-second ul.sf-menu a {
  color: #fff !important; }

.page-wspolpraca .contentclass {
  padding-top: 0;
  padding-bottom: 0; }

.page-wspolpraca .page-title-dotted h2:before, .page-wspolpraca .page-title-dotted h2:after {
  content: "";
  display: inline-block;
  border-top: 2px dotted #ffffff;
  width: 100%;
  vertical-align: middle;
  max-width: 12%; }

@media screen and (max-width: 768px) {
  .page-wspolpraca .mobile-align-center h1.sow-headline,
  .page-wspolpraca .mobile-align-center h2.sow-headline,
  .page-wspolpraca .mobile-align-center h3.sow-headline,
  .page-wspolpraca .mobile-align-center h4.sow-sub-headline,
  .page-wspolpraca p, .page-wspolpraca a, .page-wspolpraca span,
  .page-wspolpraca .ow-button-base.ow-button-align-left {
    text-align: center !important; }

  .page-wspolpraca .so-panel {
    margin-bottom: 0 !important; }

  .page-wspolpraca .page-title-dotted h2:before {
    max-width: 25%;
    display: block;
    margin-top: -20px;
    margin-bottom: 65px; }

  .page-wspolpraca .page-title-dotted h2:after {
    max-width: 25%;
    display: block !important;
    margin-top: 65px;
    margin-left: 74%; } }
/* OFERTA GRID RE-DESIGN 25-11-2018 */
.page-wspolpraca i.fa-l-medium-left {
  font-size: 8.5rem;
  display: block;
  float: left;
  padding-right: 15px;
  margin-top: 2px;
  margin-bottom: 15px; }

.page-wspolpraca i.fa-s-medium-left {
  font-size: 6.8rem;
  display: block;
  float: left;
  padding-right: 15px;
  margin-top: -3px;
  margin-bottom: 8px; }

.page-wspolpraca i.fa-medium-left {
  font-size: 7.7rem;
  display: block;
  float: left;
  padding-right: 15px;
  margin-top: -3px; }

.page-wspolpraca i.fa-s-medium2-left {
  font-size: 7.4rem;
  display: block;
  float: left;
  padding-right: 15px;
  margin-top: 9px;
  margin-bottom: 10px; }

.page-wspolpraca .grid-text b, .page-wspolpraca .grid-text strong {
  font-weight: 500;
  letter-spacing: 0em; }

@media screen and (max-width: 768px) {
  .page-wspolpraca .grid-oferta-title p {
    text-align: center !important; } }
.woocommerce-notices-wrapper .woocommerce-message:before, .woocommerce-info:before {
  border: 4px solid #035c82;
  font-size: 3em;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 50px;
  font-weight: bold;
  vertical-align: middle;
  padding: 0;
  top: 10%;
  margin-right: 15px; }

.woocommerce-message[role="alert"], .woocommerce-info {
  padding-left: 85px; }

@media screen and (max-width: 480px) {
  .woocommerce-message:before, .woocommerce-info:before {
    position: relative;
    margin: 5px auto 15px auto;
    text-align: center;
    margin-right: auto !important;
    left: auto; }

  .woocommerce-message[role="alert"], .woocommerce-message, .woocommerce-info {
    padding-left: 25px;
    text-align: center;
    margin: 5px auto 15px auto; } }
#tab-description p > a.button-faq {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: transparent;
  border: 2px solid #029bb5;
  color: #029bb5;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }

#tab-description p > a.button-faq:hover {
  background: #029bb5;
  color: #ffffff !important; }

/*# sourceMappingURL=style.css.map */
