form .form-row {
padding-top: 3px;
margin-bottom: 6px;
}
.woocommerce form input[type="submit"].button {
  margin-top: 15px;
}
.woocommerce table.cart td.actions input[type="submit"].button {
  margin-top: 0;
}
form.checkout_coupon .form-row {
margin: 0;
}
.checkout_coupon #coupon_code {
	margin-bottom: 0;
}
.woocommerce-page #payment ul.payment_methods li.payment_method_paypal img {
	max-width: 220px;
}
.woocommerce form.checkout_coupon input[type=submit].button{
  padding: 9px 14px;
  margin-top: 0;
}
form.checkout_coupon, form.register, form.login {
border: 1px solid #dfdbdf;
padding: 20px;
margin: 2em 0 2em 0px;
text-align: left;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
form.checkout .select2-container .select2-choice, form.checkout .select2-container .select2-choice .select2-arrow {
border-color: #999;
}
.checkout #shiptobilling label {
font-size: 9px;
padding-left: 0;
}
form.checkout input.input-text, .woocommerce input.input-text {
	width: 100%;
	padding: 8px;
	height: auto;
  border: 1px solid #999;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
form.checkout #order_comments, form.checkout textarea {
	width: 100%;
	padding: 8px;
	height: auto;
  border: 1px solid #999;
	display: block;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.login .form-row .button {
  font-size: 16px;
padding: 10px 18px;
}
#payment {
background: #f2f2f2;
background: rgba(0,0,0,0.01);
border: 1px solid #dfdfdf;
border-color: rgba(0,0,0,0.07);
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
#payment div.payment_box {
position: relative;
width: 96%;
padding: 1em 2%;
margin: 1em 0 1em 0;
font-size: 0.92em;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
line-height: 1.5em;
background: #ddd;
color: #444;
}
#payment div.payment_box:after {
  content: "";
  display: block;
  border: 8px solid #ddd;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -3px;
  left: 0;
  margin: -1em 0 0 2em;
}
#payment div.form-row {
  padding: 1em;
  border-top: 1px solid #ffffff;
  border-color: rgba(255,255,255,0.05);
  margin-bottom: 0;
}
#payment .terms {
padding: 12px 20px 0 0;
text-align: left;
}
#payment .terms .checkbox {
	padding: 0;
}
#payment .methods label {
	display: inline-block;
	margin: 5px 0 0;
}
#payment ul.payment_methods li input {
    margin: 0;
    line-height: 30px;
    height: 30px;
    padding: 0 8px 0 8px;
}
#payment ul.payment_methods li input.input-radio {
margin: 0 8px 0 0;
height: 20px;
padding: 0;
vertical-align: sub;
}
#payment #place_order {
	color:#fff;
}
.place-order #place_order {
	float: right;
	margin: 0;
	font-size: 16px;
	text-transform: uppercase;
}
form.checkout.woocommerce-checkout:after {
    clear: both;
    display: block;
    content: '';
}
.woocommerce-checkout .form-row .chzn-container { margin-bottom: 17px;}
.widget_shopping_cart_content .total {
margin-top: 10px;
}
.woocommerce-checkout {
 	.blockOverlay {
   		&:before {
			height: 60px;
			width: 60px;
			display: block;
			position: fixed;
			top: 50%;
			top: 50vh;
			left: 50%;
			border-radius: 0;
			margin-left: -30px;
			margin-top: -50px;
			display: block;
			content: "";
			background: url(../img/aj-loader.gif) center center;
			background-size: cover;
			text-align: center;
		}
	}
	#order_review .blockOverlay {
   		&:before {
		position: absolute;
		top:50%;
		}
	}
}
form .wc-terms-and-conditions .input-checkbox {
    margin: 5px 8px 0 0;
}
.woocommerce-bacs-bank-details:before, .woocommerce-order-details:before {
    clear: both;
    display: table;
    content: '';
}
.woocommerce-billing-fields:after {
    clear: both;
    display: table;
    content: '';
}
#ship-to-different-address-checkbox {
    float: none;
    margin: 0;
}
form .form-row .input-checkbox {
    margin: 0 4px 0 0;
    float: none;
}
#customer_details .select2-container {
    min-width: 100%;
}
ul.woocommerce-order-overview {
    margin: 20px 0;
    padding: 0;
}

.woocommerce ul.woocommerce-order-overview:after {content: '';display: table;clear: both;position: static;height: 0;}

.woocommerce form .form-row-last:after {
    clear: both;
    display: table;
    content: '';
}
.woocommerce form .form-row-first:before {
    clear: both;
    display: table;
    content: '';
}
form .form-row label.radio {
    display: block;
    margin:0;
}
form .form-row  input[type=radio] {
    float: left;
}
form .form-row label.checkbox {
    padding-left: 0;
}