//Header
.stickyheader .is-sticky #kad-banner {
	width: 100% !important;
	left: 0px;
	z-index: 1020;
	top:0;
	margin: 0 auto;
}
.boxed.stickyheader .is-sticky #kad-banner {
width: auto !important;
left: auto;
margin-left: -15px;
margin-right: -15px;
}
.stickyheader #kad-banner, #kad-mobile-banner {
    transform: translate3d(0, 0, 0);
    position: relative;
    z-index: 599;
    top: 0;
}
.admin-bar.stickyheader #kad-banner {
    transform: none;
    position: static;
}
//Header Logo
.kt-intrinsic img.kad-standard-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.kad-header-left:not(.col-md-12) #thelogo  .kt-intrinsic-container {
    margin-left:0;
}
#logo {
margin-left: 5px;
padding: 10px 0;
}
.col-md-12 > #logo{
	text-align: center;
}
body #kad-banner #logo .kad-retina-logo {
	display: none;
}
#logo a.brand {
	color: @primary;
	font-size: 38px;
	line-height: normal;
}
#logo a.brand:hover {
	text-decoration: none;
}
.page-header {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-color: rgba(0, 0, 0, 0.05); 
	padding-bottom: 8px;
	margin: 0px 0 20px;
	padding-top: 8px
}
.pagefeat {
	margin-bottom: 20px;
}

// Style Two
.kad-header-style-two .kad-header-center #logo {
	text-align: center;
}
.kad-header-style-two .nav-main ul.sf-menu {
float: none;
width: 100%;
}
.kad-header-style-two .nav-main ul.sf-menu > li {
width: 33.3333333%;
text-align: center;
}
.kad-header-style-two .nav-main ul.sf-menu > li a {
padding: 10px 10px;
}
.kad-header-style-two .nav-main ul.sf-menu > li a i {
font-size: 42px;
}
// Style cetner shrink
.kad-header-style-two.kad-center-head-shrink .nav-main ul.sf-menu > li > a {
  padding: 0;
}
.kad-header-style-two.kad-center-head-shrink .nav-main .sf-menu li a i {
font-size: inherit;
display: inline;
margin-right: 5px;
}
.kad-header-style-two.kad-center-head-shrink #logo a.brand {
  white-space: nowrap;
}
.kad-center-head-shrink .sf-menu > li > ul, .kad-center-head-shrink .sf-menu > li:hover > ul, .kad-center-head-shrink .sf-menu > li.sfHover > ul {
	top: 50%;
	margin-top: 30px;
}
body #kad-banner .kad-header-center #logo .kad-retina-logo {
    margin: 0 auto;
}
// Style Three
.kad-header-style-three #logo, .kad-header-style-three #nav-main, .kad-header-style-three .nav-main {
margin: 0px;
padding: 0px;
}
.kad-header-style-three #logo #thelogo {
display: table-cell;
    vertical-align: middle;
    max-width: 100%
}
.kad-header-style-three #thelogo img {
padding: 5px 0;
display: block;
height: auto;
width: auto;
}
.kad-header-style-three  #logo a.brand {
display: table !important;
table-layout: fixed;
max-width: 100%;
width: 100%;
}
.kad-header-style-three #nav-main ul.sf-menu > li > a {
margin: 0;
padding: 0 20px;
}
.kad-header-style-three .sf-menu li a i {
font-size: inherit;
display: inline;
margin-right: 5px;
}
.kad-header-style-three #kad-banner #kad-shrinkheader {
overflow: visible!important;
}
.kad-header-style-three .sf-menu li a .sf-description {
position: absolute;
width: 100%;
text-align: center;
bottom: 10px;
}
.ktslider_home_hidetop {
	margin-top: -15px;
}
// Slider above header 
.kad_fullslider, .home_sliderclass, .sliderclass {
position: relative;
}
.kad_fullslider .sliderclass {
	padding: 0;
}
.kad_fullslider .kad_fullslider_arrow a, .home_sliderclass .kad_fullslider_arrow a, .sliderclass .kad_fullslider_arrow a{
position: absolute;
z-index: 10000;
left: 50%;
font-size: 30px;
bottom: 50px;
margin-left: -15px;
-webkit-animation: hoverup 2s infinite linear;
-moz-animation: hoverup 2s infinite linear;
-ms-animation: hoverup 2s infinite linear;
-o-animation: hoverup 2s infinite linear;
color: #FFF;
}
.col-md-12>#logo img.kad-retina-logo {text-align: center; margin: 0 auto;}

.kad-header-style-two.kad-center-head-shrink #thelogo img {
    margin: 0 auto;
}
.mobile-header-container {
    position: relative;
}
.mh-nav-trigger-case {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    right:10px;
    width: 50px;
    text-align: center;
        padding: 0;
    border: none;
    background: transparent;
    box-shadow: none;
}
.mh-kad-nav-collapse {
    overflow: hidden;
    height: 0;
    clear: both;
}
.mh-nav-trigger-case:focus {
  outline: none;
}    
#mg-kad-mobile-nav {
    position: relative;
    width: 100%;
    z-index: 1000;
    left: 0;
}
.kt-mainnavsticky #nav-main {
width: 100% !important;
margin: 0 auto;
left: 0;
z-index:1000;
}
.kt-mainnavsticky .sticky-wrapper.is-sticky #nav-main{
background: #fff;
}
a.mobile-logo .mobile-logo-inner{
    vertical-align: middle;
    max-width: 100%;
    display: table-cell;
    text-align: left;
}
#kad-mobile-banner .mobile-header-container .mh-menu-cart-btn .kt-cart-total {
        margin-top: -24px;
    margin-left: -4px;
}
a.mobile-logo {
    display: table!important;
    table-layout: fixed;
    max-width: 100%;
    width: 100%;
   }
.mobile-header-container a, .mobile-header-container .mh-nav-trigger-case, .mobile-header-container a:hover, .mobile-header-container .mh-nav-trigger-case:hover {
	color:#444;
}
#mh-kad-menu-search-popup .form-search {
    max-width: 100%;
}
#kad-mobile-banner {
    z-index: 10000;
        position: relative;
            width: 100%;
            display:none;
}
#kad-mobile-banner-sticky-wrapper {
    display:none;
}
.mobile-headerclass {
	background: white;
}
img.kad-mobile-logo {
    padding: 5px 0;
    display: block;
    height: auto;
}
#mh-kad-menu-search-popup {
    padding: 0;
    width: 100%;
    z-index: 10000;
    position: relative;
}
a.menu-cart-btn.mh-menu-cart-btn, .mh-kt-menu-search-btn, .mh-menu-account-btn {
    position: absolute;
    right: 60px;
    width: 50px;
    font-size: 20px;
    top: 0;
    text-align: center;
}
.container.mobile-header-container, .container.mobile-dropdown-container {
    padding: 0 10px;
}
#mg-kad-mobile-nav .mh-kad-nav-collapse {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
.boxed #kad-mobile-banner {
    left: 0;
    width: auto;
    right: 0;
}
.boxed #kad-mobile-banner .mobile-header-container {
    padding:0 20px;
}