.infobanner {
	margin:15px 0;
}
.home-message {
	background-color: transparent; 
	text-align:left;
	-webkit-transition: background .6s ease-in-out;
	-moz-transition: background .6s ease-in-out;
	-ms-transition: background .6s ease-in-out;
	-o-transition: background .6s ease-in-out;
	transition: background .6s ease-in-out;
	position: relative;
}
.home-message:hover {
	background-color:@primary;
	background-color: rgba(199, 44, 0, 0.6);
}
.home-message h4 {
	position: absolute;
	top: 10px;
	left: 10px;
	color:#444;
	background-color:#fff;
	background-color: rgba(255, 255, 255, 0.6);
	padding:6px;
	display:block;
	
}
.home-message h5 {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color:#555;
	margin: 0;
	text-align:right;
	padding:4px 6px;
	line-height:normal;
	background-color:#fff;
	background-color: rgba(255, 255, 255, 0.6);
}
.home-margin {
	margin-top: 0px;
	margin-bottom: 0px;
}
.home-padding {
	padding: 25px 0 30px;
}
.home_blog_title {
	margin-top: 20px;
}
.home_blog article {
	border: 1px solid #eee;
	border-color: rgba(0,0,0,0.05);
	margin: 0 0 20px 0;
}
.home_blog .clearclass0 {
	clear:left;
}
.home_blog article header h4 { 
	line-height: 30px;
	}
.home_blog article .entry-content {
	margin-right: 15px;
	margin-bottom: 15px;
}
.home_blog article .span6 .entry-content, .home_blog article .span6 header, .home_blog article .span8 .entry-content, .home_blog article .span8 header {
	margin-right: 15px;
	margin-left: 15px;
}
.home_blog article .tcol-md-12.postcontent .entry-content, .home_blog article .tcol-md-12.postcontent header {
margin-right: 15px;
	margin-left: 15px;
}
.home_blog article .tcol-md-12.postcontent, .home_blog article .tcol-sm-12.postcontent {
	float: left;
}
.home_blog .home-sidebar .imghoverclass img {
			margin: 0 auto;
		}
			.home-sidebar .home_blog_title {
			margin-top: 20px;
			margin-bottom: 10px;
			margin-left: 15px;
			}
			.home_blog .home-sidebar article .entry-content {
			margin-right: 15px;
			margin-left: 15px;
			}
			.home_blog .home-sidebar article {
			margin-bottom: 30px;
		}
#home-product-carousel .product_item {
	margin-bottom: 0;
}
#home-custom-carousel .custom_carousel_item {
	position: relative;
	border: 1px solid #eee;
	border-color: rgba(0,0,0,0.05);
}
.custom_carousel_item .ccarousel_excerpt {
	padding: 0 10px 20px;
	min-height: 40px;
	}
.home-iconmenu {
margin-top: 10px;
margin-bottom: 10px;
}
.home-iconmenu a, .home-iconmenu .home-icon-item {
	display: block;
	background: #ddd;
	background: rgba(0, 0, 0, 0.14);
	padding: 10px 20px;
	text-align: center;
	color: #fff;
	transition: background .4s ease-out;
  -webkit-transition: background .4s ease-out;
  -moz-transition: background .4s ease-out;
  -o-transition: background .4s ease-out;
}
.home .homepromo.row-fluid .homeitemcount4, .home .homepromo.row-fluid .homeitemcount7, .home .homepromo.row-fluid .homeitemcount10, .home .homepromo.row-fluid .homeitemcount13 {
	margin-left: 0;
}
.image-menu-image-size a.homepromolink {
  position: relative;
  display: block;
  margin-bottom: 10px;
   margin-left: auto;
  margin-right: auto;
}
.image-menu-image-size .image_menu_wrap {
   margin-left: auto;
  margin-right: auto;
}
.image_menu_hover_class {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  left: 0;
	z-index: 1;
  background: @primary;
  ms-filter: "alpha(Opacity=00)";
  filter: alpha(opacity=00);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.image-menu-image-size .homepromolink:hover .image_menu_hover_class {
	  ms-filter: "alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: .6;
  -khtml-opacity: .6;
  opacity: .6;
}
.image_menu_message h4 {
	position: absolute;
	top: 10px;
	left: 10px;
	color:#444;
	z-index: 2;
	background-color:#fff;
	background-color: rgba(255, 255, 255, 0.6);
	padding:6px;
	display:block;
	
}
.image_menu_message h5 {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color:#555;
	z-index: 2;
	margin: 0;
	text-align:right;
	padding:4px 6px;
	line-height:normal;
	background-color:#fff;
	background-color: rgba(255, 255, 255, 0.6);
}

.home-iconmenu a i, .home-iconmenu .home-icon-item i {
	font-size: 48px;
	color: #fff; 
	display: block;
	padding-top: 20px
}
.home-iconmenu a h4, .home-iconmenu .home-icon-item h4, .home-iconmenu a p, .home-iconmenu .home-icon-item p {
	color: #fff;
	}
	.home-iconmenu a p, .home-iconmenu .home-icon-item p {
	padding-bottom: 5px;
}
.home-iconmenu a:hover, .home-iconmenu .home-icon-item:hover {
	background: @primary;
}
.kt-call-sitewide-to-action {
padding: 20px 0;
}
.kad-call-sitewide-button-case a {
margin: 6px 0;
}
.ic-caption {
    position: absolute;
    bottom:10px;
    left:10px;
}
.ic-caption .captiontitle {
    color:white;
    font-size: 20px;
    line-height:20px;
}
.ic-caption .captiontext p {
	font-size: 16px;
	line-height: 16px;
}
.carousel_gallery_item{
    position:relative;
}
.kad_fullslider_mobile .sliderclass {
    padding-bottom: 0;
}
.kt-full-slider-container:before {
    content:'';
    clear:both;
    display:table;
}
.welcomeclass .titleclass>.container {
    max-width: 100%;
}
