div.product .product_title {
  clear: none;
  margin-top: 0;
  padding: 0;
}
div.product .product_image {
  border: 0px solid #f4f4f4;
  border-color: rgba(0,0,0,0.02);
  text-align: center;
  }
.price {
  padding: 6px 0;
  font-size: 24px;
}
.pricebox .price {
padding: 8px 0;
margin-bottom: 0;
}
.pricebox {
 border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
border-color: rgba(0,0,0,0.05);
margin-bottom: 10px;
}
.single_variation .price {
padding: 10px 0 0;
  display: block;
}
div.product p.stock {
font-size: 14px;
}
.product_item a.product_item_link {
  outline: 0;
}
.product_custom_content_case:after {
    clear: both;
    display: table;
    content: '';
}
div.product form.cart .variations select {
    z-index: 1;
}
div.product form.cart .variations {
margin-bottom: 6px;
}
.variations_button {
  padding-top: 10px;
}
div.product .short_description {
  max-width: 600px;
}
div.product .summery form {
margin: 0;
}
.star-rating {
  color: @primary;
}
div.product .product_label label {
  line-height: 40px;
  padding-right: 15px;
  font-size: 16px;
  margin-bottom: 0;
  text-transform: uppercase;
}
div.product .product_value select {
  margin-bottom: 0px;
}
.woocommerce .quantity input.qty {
  width: 40px;
  height: 40px;
  float: left;
  padding: 0;
  text-align: center;
  border: 1px solid #c6c6c6;
    -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: inset 0 0 2px 0 #f7f6f7;
  -webkit-box-shadow: inset 0 0 2px 0 #f7f6f7;
  -moz-box-shadow: inset 0 0 2px 0 #f7f6f7;
  font-weight: bold;
}
div.product .quantity input.number, div.product .bundle_data div.quantity input.number {
  margin: 0;
  float: left;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 40px;
}
div.product form.cart div.quantity, div.product .bundle_data div.quantity {
float: left;
margin: 0 10px 0 0;
width: 60px;
position: relative;
overflow: hidden;
zoom: 1;
}
.reset_variations {
  display:block;
  font-size: 11px;
}
div.product form.cart .variations select.kt-no-select2 {
    display: none !important;
}
.product .kad_add_to_cart, .product .single_add_to_cart_button {
  font-size: 20px;
  text-transform: uppercase;
  padding: 8px 18px;
}
.product .entry-summary .kad_add_to_cart, .product .entry-summary .single_add_to_cart_button {
line-height: 40px;
padding: 0px 18px;
}
.product_item .kad_add_to_cart:hover, .product_item .single_add_to_cart_button:hover {
  background: @primary;
}
.product_meta a {
color: #777;
}
div.product .product_thumbnails {
  margin-top: 10px;
  text-align: center;
}
div.product .woocommerce-tabs {
clear: both;
margin-top: 40px;
}

.product_item {
  text-align: center;
}
.product_item {
  background: #fff;
  background: rgba(255,255,255,0.2);
}
.product_item a.product_item_link {
  display: block;
}
.product_item .price {
  font-size: 16px;
  font-weight: 700;
  display: block;
}
.product_item .kad_add_to_cart {
  display: block;
  color:#fff;
  background: #ddd;
  background:rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding: 4px 18px;
}

.product_item .product_details h5 {
font-weight: 700;
font-size: 16px;
text-transform: uppercase;
padding: 10px 10px 0;
margin: 0;
min-height: 40px;
}
.shopcolumn1 .product_item .product_details h5 {
  padding: 20px 10px 10px 0;
  margin: 0;
  min-height: inherit !important;
}
.product_item .notrated {
  color: #ccc;
text-transform: uppercase;
font-size: 10px;
}
div.product .product_meta {
  margin-top: 20px;
padding-top: 20px;
font-size: 11px;
border-top: 1px solid #eee;
border-color: rgba(0,0,0,0.05);
}
div.product .product_meta .sku_wrapper, div.product .product_meta .posted_in, div.product .product_meta .tagged_as {
  display: block;
}
#review_form #respond .form-submit {
  clear: both;
}
.related.products, .upsells.products {
  margin-top: 40px;
}
.related.products > h3, .upsells.products > h3, .woocommerce-tabs .panel h3 {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.product .group_table {
  margin-bottom: 10px;
}
.product .group_table .product_label label {
  margin-bottom: 0;
  font-size: 16px;
  margin-left: 10px;
}
.product_label a {
  color: #444;
}
.product .group_table .price {
  font-size: 16px;
}
div.product form.cart table { 
  border-width: 0;
}
div.product form.cart .variations td {
    vertical-align: top;
}
div.product form.cart .variations td.product_value {
padding:0;
}
div.product form.cart .variations td.product_label {
  position: relative;
  height: 40px;
  padding:0 0 15px;
}
div.product form.cart .variations {
  position: relative;
}
div.product form.cart .variations tbody {
  position: relative;
}
div.product form.cart .variations tbody tr {
  position: relative;
  }
div.product form.cart .variations select {
  width: 220px;
  float: none;
  }
  .product_video_case {
    max-width: 720px;
    margin: 0 auto;
  }
  .add_review {
  margin: 20px 0;
padding-top: 20px;
}
.cat_back_btn {
  text-align: right;
font-size: 11px;
text-transform: uppercase;
}
.cat_back_btn i {
  font-size: 8px;
}
.product_header {
  border-bottom: 1px solid #eee;
  border-color: rgba(0,0,0,0.05);
  margin-bottom: 20px;
}
.price ins, .product_list_widget ins {
  text-decoration: none;
 }
 .price ins .amount {
  color: @primary;
  text-decoration: none;
}
.summary .price del {
font-size: 18px;
margin-right: 10px;
}
.summary .price ins {
  font-size: 18px;
}
.summary .price {
  font-size: 20px;
}
  .woocommerce span.onsale, span.onsale, .woocommerce #carouselcontainer span.onsale {
min-height: 20px;
min-width: 32px;
padding: 4px;
font-size: 11px;
font-weight: bold;
position: absolute;
display: block;
text-transform: uppercase;
text-align: center;
line-height: 20px;
top: 1px;
left: 1px;
margin: 0;
color: #fff;
z-index: 680;
    backface-visibility: hidden;
}
  .single-product.woocommerce span.onsale {
    left:16px;
  }
.kad-out-of-stock {
  background:#ff0000;
  }
.product-img-case {
  position: relative;
}
div.product .woocommerce-tabs ul.tabs {
list-style: none;
padding: 0 0 0 14px;
margin: 0 0 25px;
overflow: hidden;
position: relative;
}
div.product .woocommerce-tabs ul.tabs li {
border: 1px solid #ddd;
background: #f2f2f2;
display: inline-block;
position: relative;
z-index: 0;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
margin: 0 -5px 0 0;
padding: 0 6px;
}
div.product .woocommerce-tabs ul.tabs:before {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #dfdbdf;
  z-index: 1;
}
.single_variation {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 5px;
}
 .variations .kad_radio_variations label {
  float: left;
  padding: 4px 10px;
  margin: 3px 5px 5px;
  border: 3px solid #eee;
  border-color: rgba(0,0,0,0.1);
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    -o-transition: border 0.3s linear;
    -ms-transition: border 0.3s linear;
    transition: border 0.3s linear;

 }
.variations .kad_radio_variations label.kt_disabled {
    color: rgba(0,0,0,.3);
    border-color: rgba(0,0,0,0.03);
}
.variations tr:first-child .kad_radio_variations label.kt_disabled {
    color: inherit;
    border-color: rgba(0,0,0,0.1);
}
.variations .kad_radio_variations label {
    position: relative;
}
.variations .kad_radio_variations label.kt_disabled:after {
    content: 'Not Available';
    position: absolute;
    font-size: 10px;
    font-weight: normal;
    width: 90px;
    border-radius: 5px;
    top: 0px;
    line-height: 20px;
    left: 50%;
    background-color: rgba(0,0,0,.6);
    margin-left: -45px;
    text-align: center;
    color: white;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.variations .kad_radio_variations label.kt_disabled:hover:after {
  opacity: 1;
  top: -25px;
}
.variations tr:first-child  .kad_radio_variations label.kt_disabled:after {
    content: '';
    position: static;
    display:none;
    opacity: 0;
}
  .variations .kad_radio_variations label:hover {
  border-color:@primary;
 }
   .variations .kad_radio_variations label.selectedValue {
    border-color:@primary;
    background: @primary;
    color:#fff;
 }
 .variations tr:first-child .kad_radio_variations label.selectedValue {
 	color:#fff;
 }
  .variations .kad_radio_variations label input[type=radio] {
  height: 0;
  overflow: hidden;
  z-index: -10000;
  position: absolute;
  visibility: hidden;
  float: none;
 }
 .kad_required {
  color: red;
font-weight: 100;
 }
div.product .product_label .kad_required {
display: block;
position: absolute;
top: 0;
right: 0;
}
 .woocommerce-product-rating {
    line-height: 2em;
    display: block;

    .star-rating {
      margin: .5em 4px 0 0;
      float: left;
    }
  }
.productnav {
float: right;
padding: 5px 0px;
}
.productnav a {
padding: 8px 8px 6px;
margin-left: 6px;
background: #ddd;
background:rgba(0, 0, 0, 0.1);
line-height: 40px;
vertical-align: middle;
color: #fff;
transition: all .4s ease-out;
-webkit-transition: all .4s ease-out;
-moz-transition: all .4s ease-out;
-o-transition: all .4s ease-out;
}
.productnav a:hover {
  background: @primary;
  color: #fff;
}
#review_form #respond p.comment-form-author, #review_form #respond p.comment-form-email {
    padding: 0 15px;
    float:left;
}
.single_variation_wrap {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
}
#content div.product form.cart .woocommerce-variation-availability .woocommerce_waitlist {
    float: none;
}
.kt-no-select2 {
    display: none !important;
}
.button.disabled, .button:disabled, button.disabled, button:disabled {
    opacity: .8!important;
    cursor: not-allowed;
}
.product_thumbnails .woocommerce-product-gallery__image {
    max-width: 90px;
    display: inline-block;
    margin: 0 2px 2px;
}
.woocommerce-product-gallery {
position: relative;

	img {
		margin: 0;
	}

	.flex-viewport {
		margin-bottom: 6px;
	}

	.flex-control-thumbs {
		margin-left:-3px;
		margin-right:-3px;
		padding: 0;

		li {
			list-style: none;
			margin-bottom: 6px;
			cursor: pointer;
			padding: 0 3px;

			img {
				opacity: .5;
				-webkit-transition: all .2s ease-in-out;
			    -o-transition: all .2s ease-in-out;
			    transition: all .2s ease-in-out;

				&.flex-active {
					opacity: 1;
				}
			}

			&:hover {
				img {
					opacity: 1;
				}
			}
		}
	}

	&.woocommerce-product-gallery--columns-2 {
		.flex-control-thumbs {
			li {
				width: 50%;
    			float: left;
			}
		}
	}

	&.woocommerce-product-gallery--columns-3 {
		.flex-control-thumbs {
			li {
				width: 33.33%;
    			float: left;
			}
		}
	}

	&.woocommerce-product-gallery--columns-4 {
		.flex-control-thumbs {
			li {
				width: 25%;
    			float: left;
			}
		}
	}

	&.woocommerce-product-gallery--columns-5 {
		.flex-control-thumbs {
			li {
				width: 20%;
    			float: left;
			}
		}
	}
}
div.product div.images .woocommerce-product-gallery__trigger {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	width: 50px;
    height: 50px;
	border-radius: 0;
	z-index: 100;
	text-align: center;
}
div.product div.images .woocommerce-product-gallery__trigger:focus { outline: none; }
.woo_product_zoom_enabled .woocommerce-product-gallery__image a:before, div.product div.images .woocommerce-product-gallery__trigger:before {
	font-family: 'virtue_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e1ba";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 16px;
    top: 10px;
    text-indent: 0;
    color: #444;
    right: 10px;
    border: 1px solid transparent;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    z-index:100;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
}
.woo_product_zoom_enabled .woocommerce-product-gallery__image a:hover:before, div.product div.images .woocommerce-product-gallery__trigger:hover:before {
	border-color:#444;
}
.woo_product_slider_enabled.woo_product_zoom_enabled .woocommerce-product-gallery__image a:before {
    display: none;
}
.woocommerce div.product div.images.contain-woo_product_slider_enabled .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 25%;
    display: inline-block;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
	    text-indent: -9999px;
}
div.product form.cart.swatches-support .variations td.product_value.value {
    position: relative;
    width: auto;
    height: auto;
}
#content div.product form.cart .group_table td {
    vertical-align: middle;
}