@font-face {
  font-family: 'virtue_icons';
  src:  url('fonts/virtue_icons_min.eot?80oj5l');
  src:  url('fonts/virtue_icons_min.eot?80oj5l#iefix') format('embedded-opentype'),
    url('fonts/virtue_icons_min.woff2?80oj5l') format('woff2'),
    url('fonts/virtue_icons_min.ttf?80oj5l') format('truetype'),
    url('fonts/virtue_icons_min.svg?80oj5l#virtue_icons_min') format('svg'),
    url('fonts/virtue_icons_min.woff?80oj5l') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'virtue_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
  content: "\e007";
}
.icon-pencil2:before {
  content: "\e00f";
}
.icon-folder:before {
  content: "\e0ad";
}
.icon-tag:before {
  content: "\e0b3";
}
.icon-cart:before {
  content: "\e0c1";
}
.icon-basket:before {
  content: "\e0ce";
}
.icon-bag:before {
  content: "\e0d0";
}
.icon-envelope:before {
  content: "\e0ec";
}
.icon-mobile:before {
  content: "\e125";
}
.icon-drawer:before {
  content: "\e12d";
}
.icon-redo2:before {
  content: "\e14c";
}
.icon-bubbles:before {
  content: "\e151";
}
.icon-user2:before {
  content: "\e185";
}
.icon-search:before {
  content: "\e1ba";
}
.icon-dashboard:before {
  content: "\e23a";
}
.icon-cloud-download:before {
  content: "\e2b6";
}
.icon-eye:before {
  content: "\e2d9";
}
.icon-menu:before {
  content: "\e2ac";
}
.icon-arrow-up:before {
  content: "\e3b0";
}
.icon-arrow-right:before {
  content: "\e3b1";
}
.icon-arrow-left:before {
  content: "\e3b3";
}
.icon-arrow-right2:before {
  content: "\e3b5";
}
.icon-arrow-down2:before {
  content: "\e3b6";
}
.icon-arrow-right3:before {
  content: "\e3bb";
}
.icon-facebook:before {
  content: "\e498";
}
.icon-instagram:before {
  content: "\e49c";
}
.icon-twitter:before {
  content: "\e49d";
}
