@font-face {
  font-family: 'virtue_icons';
  src:  url('fonts/virtue_icons.eot');
  src:  url('fonts/virtue_icons.eot#iefix') format('embedded-opentype'),
    url('fonts/virtue_icons.woff2?5b6jfq') format('woff2'),
    url('fonts/virtue_icons.ttf?5b6jfq') format('truetype'),
    url('fonts/virtue_icons.woff?5b6jfq') format('woff'),
    url('fonts/virtue_icons.svg?5b6jfq#virtue_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'virtue_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-iconPeriscope:before {
    content: "\e90e";
}
.icon-fa-snapchat:before {
    content: "\e601";
}
.icon-px:before {
    content: "\e900";
}
.icon-amazon2:before {
    content: "\e901";
}
.icon-app-store:before {
    content: "\e902";
}
.icon-ebay:before {
    content: "\e903";
}
.icon-etsy:before {
    content: "\e904";
}
.icon-foursquare:before {
    content: "\e905";
}
.icon-habbo:before {
    content: "\e906";
}
.icon-love:before {
    content: "\e907";
}
.icon-spotify:before {
    content: "\e908";
}
.icon-tripadvisor:before {
    content: "\e909";
}
.icon-wechat:before {
    content: "\e90a";
}
.icon-yelp2:before {
    content: "\e90b";
}
.icon-viadeo:before {
    content: "\e600";
}
.icon-female:before {
    content: "\e90f";
}
.icon-male:before {
    content: "\e910";
}
.icon-behance:before {
    content: "\e911";
}
.icon-behance2:before {
    content: "\e912";
}
.icon-enter:before {
    content: "\e37d";
}
.icon-exit:before {
    content: "\e37e";
}
.icon-soundcloud:before {
    content: "\e4cb";
}
.icon-soundcloud2:before {
    content: "\e4cc";
}
.icon-yelp:before {
    content: "\e4e0";
}
.icon-home:before {
    content: "\e002";
}
.icon-home2:before {
    content: "\e007";
}
.icon-office:before {
    content: "\e00b";
}
.icon-newspaper:before {
    content: "\e00c";
}
.icon-pencil:before {
    content: "\e00e";
}
.icon-pencil2:before {
    content: "\e00f";
}
.icon-pencil3:before {
    content: "\e010";
}
.icon-pencil4:before {
    content: "\e012";
}
.icon-quill:before {
    content: "\e014";
}
.icon-quill2:before {
    content: "\e015";
}
.icon-pen:before {
    content: "\e016";
}
.icon-pen2:before {
    content: "\e01a";
}
.icon-home3:before {
    content: "\e01c";
}
.icon-marker:before {
    content: "\e01d";
}
.icon-brush:before {
    content: "\e020";
}
.icon-palette:before {
    content: "\e021";
}
.icon-palette2:before {
    content: "\e022";
}
.icon-droplet:before {
    content: "\e025";
}
.icon-droplet2:before {
    content: "\e027";
}
.icon-paint-format:before {
    content: "\e02a";
}
.icon-images:before {
    content: "\e02e";
}
.icon-image:before {
    content: "\e030";
}
.icon-image2:before {
    content: "\e031";
}
.icon-images2:before {
    content: "\e032";
}
.icon-camera:before {
    content: "\e034";
}
.icon-camera2:before {
    content: "\e036";
}
.icon-camera3:before {
    content: "\e037";
}
.icon-music:before {
    content: "\e038";
}
.icon-music2:before {
    content: "\e039";
}
.icon-piano:before {
    content: "\e03e";
}
.icon-guitar:before {
    content: "\e03f";
}
.icon-headphones:before {
    content: "\e040";
}
.icon-play:before {
    content: "\e042";
}
.icon-movie:before {
    content: "\e044";
}
.icon-film:before {
    content: "\e04a";
}
.icon-camera4:before {
    content: "\e04b";
}
.icon-camera5:before {
    content: "\e04c";
}
.icon-gamepad:before {
    content: "\e051";
}
.icon-pacman:before {
    content: "\e054";
}
.icon-king:before {
    content: "\e058";
}
.icon-queen:before {
    content: "\e059";
}
.icon-rock:before {
    content: "\e05a";
}
.icon-knight:before {
    content: "\e05c";
}
.icon-bullhorn:before {
    content: "\e05f";
}
.icon-megaphone:before {
    content: "\e060";
}
.icon-connection:before {
    content: "\e063";
}
.icon-radio:before {
    content: "\e065";
}
.icon-mic:before {
    content: "\e06b";
}
.icon-book:before {
    content: "\e071";
}
.icon-books:before {
    content: "\e072";
}
.icon-library:before {
    content: "\e075";
}
.icon-file:before {
    content: "\e077";
}
.icon-profile:before {
    content: "\e078";
}
.icon-file2:before {
    content: "\e086";
}
.icon-copy:before {
    content: "\e08f";
}
.icon-paste:before {
    content: "\e092";
}
.icon-folder:before {
    content: "\e0ad";
}
.icon-folder-open:before {
    content: "\e0ae";
}
.icon-certificate:before {
    content: "\e0b1";
}
.icon-cc:before {
    content: "\e0b2";
}
.icon-tag:before {
    content: "\e0b3";
}
.icon-tag2:before {
    content: "\e0b7";
}
.icon-tags:before {
    content: "\e0ba";
}
.icon-cart:before {
    content: "\e0c1";
}
.icon-cart2:before {
    content: "\e0c2";
}
.icon-cart3:before {
    content: "\e0c5";
}
.icon-cart4:before {
    content: "\e0c6";
}
.icon-basket:before {
    content: "\e0ce";
}
.icon-basket2:before {
    content: "\e0cf";
}
.icon-bag:before {
    content: "\e0d0";
}
.icon-bag2:before {
    content: "\e0d1";
}
.icon-bag3:before {
    content: "\e0d2";
}
.icon-coin:before {
    content: "\e0d3";
}
.icon-credit:before {
    content: "\e0d5";
}
.icon-support:before {
    content: "\e0d9";
}
.icon-phone:before {
    content: "\e0da";
}
.icon-address-book:before {
    content: "\e0e9";
}
.icon-envelope:before {
    content: "\e0ec";
}
.icon-mail-send:before {
    content: "\e0ed";
}
.icon-envelope2:before {
    content: "\e0ef";
}
.icon-pushpin:before {
    content: "\e0f0";
}
.icon-location:before {
    content: "\e0f1";
}
.icon-location2:before {
    content: "\e0f2";
}
.icon-compass:before {
    content: "\e0f8";
}
.icon-compass2:before {
    content: "\e0f9";
}
.icon-map:before {
    content: "\e0fb";
}
.icon-map2:before {
    content: "\e0fc";
}
.icon-direction:before {
    content: "\e0fe";
}
.icon-clock:before {
    content: "\e101";
}
.icon-clock2:before {
    content: "\e102";
}
.icon-watch:before {
    content: "\e105";
}
.icon-alarm:before {
    content: "\e109";
}
.icon-bell:before {
    content: "\e10b";
}
.icon-stopwatch:before {
    content: "\e111";
}
.icon-calendar:before {
    content: "\e112";
}
.icon-calendar2:before {
    content: "\e113";
}
.icon-print:before {
    content: "\e117";
}
.icon-mouse:before {
    content: "\e11b";
}
.icon-screen:before {
    content: "\e120";
}
.icon-screen2:before {
    content: "\e123";
}
.icon-laptop:before {
    content: "\e124";
}
.icon-mobile:before {
    content: "\e125";
}
.icon-mobile2:before {
    content: "\e126";
}
.icon-tablet:before {
    content: "\e127";
}
.icon-cabinet:before {
    content: "\e12a";
}
.icon-drawer:before {
    content: "\e12d";
}
.icon-drawer2:before {
    content: "\e12e";
}
.icon-box:before {
    content: "\e12f";
}
.icon-box-add:before {
    content: "\e130";
}
.icon-box-remove:before {
    content: "\e131";
}
.icon-cd:before {
    content: "\e135";
}
.icon-storage:before {
    content: "\e136";
}
.icon-undo:before {
    content: "\e13b";
}
.icon-redo:before {
    content: "\e13c";
}
.icon-rotate:before {
    content: "\e13d";
}
.icon-rotate2:before {
    content: "\e13e";
}
.icon-undo2:before {
    content: "\e14b";
}
.icon-redo2:before {
    content: "\e14c";
}
.icon-forward:before {
    content: "\e14d";
}
.icon-reply:before {
    content: "\e14e";
}
.icon-bubble:before {
    content: "\e150";
}
.icon-bubbles:before {
    content: "\e151";
}
.icon-bubbles2:before {
    content: "\e152";
}
.icon-bubbles3:before {
    content: "\e155";
}
.icon-bubble-notification:before {
    content: "\e156";
}
.icon-bubble2:before {
    content: "\e166";
}
.icon-bubble3:before {
    content: "\e169";
}
.icon-user2:before {
    content: "\e185";
}
.icon-users:before {
    content: "\e186";
}
.icon-users2:before {
    content: "\e18d";
}
.icon-users3:before {
    content: "\e198";
}
.icon-vcard:before {
    content: "\e19c";
}
.icon-tshirt:before {
    content: "\e19d";
}
.icon-quotes-left:before {
    content: "\e19f";
}
.icon-quotes-right:before {
    content: "\e1a0";
}
.icon-busy:before {
    content: "\e1a3";
}
.icon-spinner:before {
    content: "\e1a7";
}
.icon-spinner2:before {
    content: "\e1a8";
}
.icon-search:before {
    content: "\e1ba";
}
.icon-search2:before {
    content: "\e1bb";
}
.icon-zoom-in:before {
    content: "\e1bc";
}
.icon-zoom-out:before {
    content: "\e1bd";
}
.icon-expand:before {
    content: "\e1bf";
}
.icon-contract:before {
    content: "\e1c9";
}
.icon-key2:before {
    content: "\e1ca";
}
.icon-key22:before {
    content: "\e1cc";
}
.icon-keyhole:before {
    content: "\e1cf";
}
.icon-lock:before {
    content: "\e1d0";
}
.icon-wrench:before {
    content: "\e1d9";
}
.icon-settings:before {
    content: "\e1db";
}
.icon-equalizer:before {
    content: "\e1dc";
}
.icon-equalizer2:before {
    content: "\e1dd";
}
.icon-equalizer3:before {
    content: "\e1de";
}
.icon-cog:before {
    content: "\e1df";
}
.icon-cogs:before {
    content: "\e1e0";
}
.icon-tools:before {
    content: "\e1e9";
}
.icon-screwdriver:before {
    content: "\e1eb";
}
.icon-wand:before {
    content: "\e1ed";
}
.icon-aid:before {
    content: "\e1ef";
}
.icon-bug:before {
    content: "\e1f1";
}
.icon-inject:before {
    content: "\e1f4";
}
.icon-construction:before {
    content: "\e1f5";
}
.icon-pie:before {
    content: "\e1f8";
}
.icon-stats:before {
    content: "\e1fe";
}
.icon-stats2:before {
    content: "\e1ff";
}
.icon-stats3:before {
    content: "\e200";
}
.icon-bars:before {
    content: "\e201";
}
.icon-bars2:before {
    content: "\e202";
}
.icon-bars3:before {
    content: "\e203";
}
.icon-stats-up:before {
    content: "\e207";
}
.icon-gift2:before {
    content: "\e210";
}
.icon-gift:before {
    content: "\e211";
}
.icon-balloon:before {
    content: "\e212";
}
.icon-medal:before {
    content: "\e219";
}
.icon-crown:before {
    content: "\e21c";
}
.icon-trophy:before {
    content: "\e21d";
}
.icon-glass:before {
    content: "\e222";
}
.icon-glass2:before {
    content: "\e223";
}
.icon-bottle:before {
    content: "\e224";
}
.icon-mug:before {
    content: "\e226";
}
.icon-food:before {
    content: "\e227";
}
.icon-food2:before {
    content: "\e228";
}
.icon-cup:before {
    content: "\e22a";
}
.icon-leaf:before {
    content: "\e22c";
}
.icon-leaf2:before {
    content: "\e22d";
}
.icon-apple-fruit:before {
    content: "\e22e";
}
.icon-tree:before {
    content: "\e22f";
}
.icon-paw:before {
    content: "\e231";
}
.icon-steps:before {
    content: "\e232";
}
.icon-flower:before {
    content: "\e233";
}
.icon-rocket:before {
    content: "\e234";
}
.icon-meter:before {
    content: "\e235";
}
.icon-meter-fast:before {
    content: "\e239";
}
.icon-dashboard:before {
    content: "\e23a";
}
.icon-hammer:before {
    content: "\e23b";
}
.icon-bomb:before {
    content: "\e23d";
}
.icon-fire:before {
    content: "\e23f";
}
.icon-lab:before {
    content: "\e240";
}
.icon-atom:before {
    content: "\e241";
}
.icon-magnet:before {
    content: "\e244";
}
.icon-dumbbell:before {
    content: "\e247";
}
.icon-lamp4:before {
    content: "\e24b";
}
.icon-lamp:before {
    content: "\e24c";
}
.icon-lamp2:before {
    content: "\e24d";
}
.icon-lamp3:before {
    content: "\e24e";
}
.icon-remove:before {
    content: "\e24f";
}
.icon-remove2:before {
    content: "\e250";
}
.icon-remove3:before {
    content: "\e255";
}
.icon-briefcase:before {
    content: "\e257";
}
.icon-briefcase2:before {
    content: "\e258";
}
.icon-briefcase3:before {
    content: "\e259";
}
.icon-airplane:before {
    content: "\e25a";
}
.icon-airplane2:before {
    content: "\e25b";
}
.icon-paper-plane:before {
    content: "\e25c";
}
.icon-car:before {
    content: "\e25d";
}
.icon-gas-pump:before {
    content: "\e25e";
}
.icon-bus:before {
    content: "\e25f";
}
.icon-truck:before {
    content: "\e260";
}
.icon-bike:before {
    content: "\e261";
}
.icon-train:before {
    content: "\e263";
}
.icon-boat:before {
    content: "\e265";
}
.icon-cube:before {
    content: "\e266";
}
.icon-cube4:before {
    content: "\e269";
}
.icon-cylinder:before {
    content: "\e26c";
}
.icon-puzzle:before {
    content: "\e270";
}
.icon-puzzle2:before {
    content: "\e271";
}
.icon-glasses:before {
    content: "\e272";
}
.icon-glasses2:before {
    content: "\e273";
}
.icon-sun-glasses:before {
    content: "\e275";
}
.icon-accessibility:before {
    content: "\e276";
}
.icon-accessibility2:before {
    content: "\e277";
}
.icon-brain:before {
    content: "\e278";
}
.icon-target:before {
    content: "\e27b";
}
.icon-shield:before {
    content: "\e27e";
}
.icon-shield2:before {
    content: "\e281";
}
.icon-soccer:before {
    content: "\e282";
}
.icon-football:before {
    content: "\e283";
}
.icon-baseball:before {
    content: "\e284";
}
.icon-basketball:before {
    content: "\e285";
}
.icon-golf:before {
    content: "\e286";
}
.icon-hockey:before {
    content: "\e287";
}
.icon-racing:before {
    content: "\e288";
}
.icon-eight-ball:before {
    content: "\e289";
}
.icon-bowling-ball:before {
    content: "\e28a";
}
.icon-bowling:before {
    content: "\e28b";
}
.icon-lightning:before {
    content: "\e28d";
}
.icon-power:before {
    content: "\e28e";
}
.icon-switch:before {
    content: "\e290";
}
.icon-power-cord:before {
    content: "\e291";
}
.icon-clipboard:before {
    content: "\e294";
}
.icon-signup:before {
    content: "\e296";
}
.icon-clipboard2:before {
    content: "\e297";
}
.icon-clipboard3:before {
    content: "\e298";
}
.icon-grid:before {
    content: "\e2a0";
}
.icon-grid2:before {
    content: "\e2a1";
}
.icon-grid3:before {
    content: "\e2a2";
}
.icon-grid4:before {
    content: "\e2a3";
}
.icon-grid5:before {
    content: "\e2a4";
}
.icon-menu:before {
    content: "\e2ac";
}
.icon-menu3:before {
    content: "\e2ad";
}
.icon-menu2:before {
    content: "\e2ae";
}
.icon-menu4:before {
    content: "\e2af";
}
.icon-menu5:before {
    content: "\e2b0";
}
.icon-menu6:before {
    content: "\e2b2";
}
.icon-cloud:before {
    content: "\e2b4";
}
.icon-cloud-download:before {
    content: "\e2b6";
}
.icon-cloud-upload:before {
    content: "\e2b7";
}
.icon-download:before {
    content: "\e2bc";
}
.icon-upload:before {
    content: "\e2bd";
}
.icon-globe:before {
    content: "\e2c5";
}
.icon-earth:before {
    content: "\e2c7";
}
.icon-network:before {
    content: "\e2c8";
}
.icon-link2:before {
    content: "\e2c9";
}
.icon-link:before {
    content: "\e2ca";
}
.icon-link4:before {
    content: "\e2cb";
}
.icon-link3:before {
    content: "\e2ce";
}
.icon-anchor:before {
    content: "\e2d0";
}
.icon-flag:before {
    content: "\e2d1";
}
.icon-flag2:before {
    content: "\e2d5";
}
.icon-flag3:before {
    content: "\e2d6";
}
.icon-attachment:before {
    content: "\e2d7";
}
.icon-attachment2:before {
    content: "\e2d8";
}
.icon-eye:before {
    content: "\e2d9";
}
.icon-eye-blocked:before {
    content: "\e2da";
}
.icon-bookmark:before {
    content: "\e2e4";
}
.icon-bookmarks:before {
    content: "\e2e5";
}
.icon-spotlight:before {
    content: "\e2e7";
}
.icon-snowflake:before {
    content: "\e2e9";
}
.icon-temperature:before {
    content: "\e2ea";
}
.icon-weather-lightning:before {
    content: "\e2ec";
}
.icon-weather-rain:before {
    content: "\e2ed";
}
.icon-weather-snow:before {
    content: "\e2ee";
}
.icon-windy:before {
    content: "\e2ef";
}
.icon-fan:before {
    content: "\e2f0";
}
.icon-umbrella:before {
    content: "\e2f1";
}
.icon-sun:before {
    content: "\e2f3";
}
.icon-moon:before {
    content: "\e2f9";
}
.icon-bed:before {
    content: "\e2fa";
}
.icon-bed2:before {
    content: "\e2fb";
}
.icon-star:before {
    content: "\e2ff";
}
.icon-star2:before {
    content: "\e300";
}
.icon-star3:before {
    content: "\e301";
}
.icon-heart:before {
    content: "\e307";
}
.icon-heart2:before {
    content: "\e308";
}
.icon-heart-broken:before {
    content: "\e309";
}
.icon-thumbs-up:before {
    content: "\e310";
}
.icon-thumbs-down:before {
    content: "\e312";
}
.icon-people:before {
    content: "\e317";
}
.icon-man:before {
    content: "\e318";
}
.icon-woman:before {
    content: "\e31a";
}
.icon-happy:before {
    content: "\e31e";
}
.icon-happy2:before {
    content: "\e31f";
}
.icon-smiley:before {
    content: "\e320";
}
.icon-smiley2:before {
    content: "\e321";
}
.icon-tongue:before {
    content: "\e322";
}
.icon-tongue2:before {
    content: "\e323";
}
.icon-sad:before {
    content: "\e324";
}
.icon-sad2:before {
    content: "\e325";
}
.icon-wink:before {
    content: "\e326";
}
.icon-wink2:before {
    content: "\e327";
}
.icon-grin:before {
    content: "\e328";
}
.icon-grin2:before {
    content: "\e329";
}
.icon-cool:before {
    content: "\e32a";
}
.icon-cool2:before {
    content: "\e32b";
}
.icon-angry:before {
    content: "\e32c";
}
.icon-angry2:before {
    content: "\e32d";
}
.icon-evil:before {
    content: "\e32e";
}
.icon-evil2:before {
    content: "\e32f";
}
.icon-shocked:before {
    content: "\e330";
}
.icon-shocked2:before {
    content: "\e331";
}
.icon-confused:before {
    content: "\e332";
}
.icon-confused2:before {
    content: "\e333";
}
.icon-neutral:before {
    content: "\e334";
}
.icon-neutral2:before {
    content: "\e335";
}
.icon-wondering:before {
    content: "\e336";
}
.icon-wondering2:before {
    content: "\e337";
}
.icon-cursor:before {
    content: "\e338";
}
.icon-hand:before {
    content: "\e33f";
}
.icon-stack-picture:before {
    content: "\e344";
}
.icon-stack-list:before {
    content: "\e349";
}
.icon-stack-clubs:before {
    content: "\e34a";
}
.icon-stack-spades:before {
    content: "\e34b";
}
.icon-stack-hearts:before {
    content: "\e34c";
}
.icon-stack-diamonds:before {
    content: "\e34d";
}
.icon-stack-user:before {
    content: "\e34e";
}
.icon-stack-music:before {
    content: "\e350";
}
.icon-move:before {
    content: "\e352";
}
.icon-warning:before {
    content: "\e355";
}
.icon-warning2:before {
    content: "\e356";
}
.icon-notification:before {
    content: "\e357";
}
.icon-notification2:before {
    content: "\e358";
}
.icon-question:before {
    content: "\e359";
}
.icon-question2:before {
    content: "\e35a";
}
.icon-question3:before {
    content: "\e35d";
}
.icon-plus-circle:before {
    content: "\e35e";
}
.icon-plus-circle2:before {
    content: "\e35f";
}
.icon-minus-circle:before {
    content: "\e360";
}
.icon-minus-circle2:before {
    content: "\e361";
}
.icon-info:before {
    content: "\e362";
}
.icon-info2:before {
    content: "\e363";
}
.icon-cancel-circle:before {
    content: "\e365";
}
.icon-cancel-circle2:before {
    content: "\e366";
}
.icon-checkmark-circle:before {
    content: "\e367";
}
.icon-checkmark-circle2:before {
    content: "\e368";
}
.icon-close:before {
    content: "\e36b";
}
.icon-close2:before {
    content: "\e36c";
}
.icon-checkmark:before {
    content: "\e370";
}
.icon-checkmark2:before {
    content: "\e371";
}
.icon-checkmark3:before {
    content: "\e372";
}
.icon-checkmark4:before {
    content: "\e373";
}
.icon-minus:before {
    content: "\e375";
}
.icon-plus:before {
    content: "\e376";
}
.icon-play2:before {
    content: "\e380";
}
.icon-pause:before {
    content: "\e381";
}
.icon-stop:before {
    content: "\e382";
}
.icon-backward:before {
    content: "\e383";
}
.icon-forward2:before {
    content: "\e384";
}
.icon-play3:before {
    content: "\e385";
}
.icon-pause2:before {
    content: "\e386";
}
.icon-stop2:before {
    content: "\e387";
}
.icon-backward2:before {
    content: "\e388";
}
.icon-forward3:before {
    content: "\e389";
}
.icon-first:before {
    content: "\e38a";
}
.icon-last:before {
    content: "\e38b";
}
.icon-previous:before {
    content: "\e38c";
}
.icon-next:before {
    content: "\e38d";
}
.icon-eject:before {
    content: "\e38e";
}
.icon-volume-high:before {
    content: "\e38f";
}
.icon-volume-medium:before {
    content: "\e390";
}
.icon-volume-low:before {
    content: "\e391";
}
.icon-volume-mute:before {
    content: "\e392";
}
.icon-loop2:before {
    content: "\e3a6";
}
.icon-loop:before {
    content: "\e3a7";
}
.icon-arrow-up:before {
    content: "\e3b0";
}
.icon-arrow-right:before {
    content: "\e3b1";
}
.icon-arrow-down:before {
    content: "\e3b2";
}
.icon-arrow-left:before {
    content: "\e3b3";
}
.icon-arrow-up2:before {
    content: "\e3b4";
}
.icon-arrow-right2:before {
    content: "\e3b5";
}
.icon-arrow-down2:before {
    content: "\e3b6";
}
.icon-arrow-left2:before {
    content: "\e3b7";
}
.icon-arrow-up-left:before {
    content: "\e3b8";
}
.icon-arrow-up3:before {
    content: "\e3b9";
}
.icon-arrow-up-right:before {
    content: "\e3ba";
}
.icon-arrow-right3:before {
    content: "\e3bb";
}
.icon-arrow-down-right:before {
    content: "\e3bc";
}
.icon-arrow-down3:before {
    content: "\e3bd";
}
.icon-arrow-down-left:before {
    content: "\e3be";
}
.icon-arrow-left3:before {
    content: "\e3bf";
}
.icon-arrow-up4:before {
    content: "\e3c9";
}
.icon-arrow-right4:before {
    content: "\e3cb";
}
.icon-arrow-down4:before {
    content: "\e3cd";
}
.icon-arrow-left4:before {
    content: "\e3cf";
}
.icon-arrow-up5:before {
    content: "\e3ec";
}
.icon-arrow-right5:before {
    content: "\e3ed";
}
.icon-arrow-bottom:before {
    content: "\e3ee";
}
.icon-arrow-left5:before {
    content: "\e3ef";
}
.icon-arrow-up6:before {
    content: "\e410";
}
.icon-arrow-right6:before {
    content: "\e411";
}
.icon-arrow-down5:before {
    content: "\e412";
}
.icon-arrow-left6:before {
    content: "\e413";
}
.icon-transmission:before {
    content: "\e424";
}
.icon-sort:before {
    content: "\e425";
}
.icon-checkbox-checked:before {
    content: "\e42e";
}
.icon-checkbox:before {
    content: "\e432";
}
.icon-checkbox-checked2:before {
    content: "\e435";
}
.icon-crop:before {
    content: "\e43c";
}
.icon-vector:before {
    content: "\e43e";
}
.icon-rulers:before {
    content: "\e43f";
}
.icon-scissors:before {
    content: "\e441";
}
.icon-filter:before {
    content: "\e443";
}
.icon-font:before {
    content: "\e447";
}
.icon-font-size:before {
    content: "\e448";
}
.icon-text-height:before {
    content: "\e44a";
}
.icon-text-width:before {
    content: "\e44b";
}
.icon-height:before {
    content: "\e44c";
}
.icon-width:before {
    content: "\e44d";
}
.icon-page-break:before {
    content: "\e45b";
}
.icon-page-break2:before {
    content: "\e45c";
}
.icon-table:before {
    content: "\e466";
}
.icon-new-tab:before {
    content: "\e47c";
}
.icon-new-tab2:before {
    content: "\e47d";
}
.icon-embed:before {
    content: "\e47f";
}
.icon-code:before {
    content: "\e480";
}
.icon-mail3:before {
    content: "\e48e";
}
.icon-mail:before {
    content: "\e48f";
}
.icon-mail2:before {
    content: "\e490";
}
.icon-google-plus:before {
    content: "\e493";
}
.icon-google-plus2:before {
    content: "\e494";
}
.icon-google-plus3:before {
    content: "\e495";
}
.icon-google-drive:before {
    content: "\e497";
}
.icon-facebook:before {
    content: "\e498";
}
.icon-facebook2:before {
    content: "\e499";
}
.icon-facebook3:before {
    content: "\e49a";
}
.icon-instagram:before {
    content: "\e49c";
}
.icon-twitter:before {
    content: "\e49d";
}
.icon-twitter2:before {
    content: "\e49e";
}
.icon-feed:before {
    content: "\e4a0";
}
.icon-feed2:before {
    content: "\e4a1";
}
.icon-youtube:before {
    content: "\e4a3";
}
.icon-youtube2:before {
    content: "\e4a4";
}
.icon-vimeo:before {
    content: "\e4a5";
}
.icon-vimeo2:before {
    content: "\e4a6";
}
.icon-lanyrd:before {
    content: "\e4a8";
}
.icon-flickr:before {
    content: "\e4a9";
}
.icon-flickr2:before {
    content: "\e4ab";
}
.icon-flickr3:before {
    content: "\e4ac";
}
.icon-picassa:before {
    content: "\e4ad";
}
.icon-picassa2:before {
    content: "\e4ae";
}
.icon-dribbble:before {
    content: "\e4af";
}
.icon-dribbble2:before {
    content: "\e4b0";
}
.icon-forrst:before {
    content: "\e4b2";
}
.icon-forrst2:before {
    content: "\e4b3";
}
.icon-deviantart:before {
    content: "\e4b4";
}
.icon-deviantart2:before {
    content: "\e4b5";
}
.icon-steam:before {
    content: "\e4b6";
}
.icon-steam2:before {
    content: "\e4b7";
}
.icon-github4:before {
    content: "\e4b9";
}
.icon-github3:before {
    content: "\e4ba";
}
.icon-github:before {
    content: "\e4bb";
}
.icon-github2:before {
    content: "\e4bc";
}
.icon-wordpress:before {
    content: "\e4be";
}
.icon-blogger:before {
    content: "\e4c0";
}
.icon-blogger2:before {
    content: "\e4c1";
}
.icon-tumblr:before {
    content: "\e4c2";
}
.icon-tumblr2:before {
    content: "\e4c3";
}
.icon-yahoo:before {
    content: "\e4c4";
}
.icon-apple:before {
    content: "\e4c6";
}
.icon-android:before {
    content: "\e4c8";
}
.icon-windows:before {
    content: "\e4c9";
}
.icon-windows8:before {
    content: "\e4ca";
}
.icon-skype:before {
    content: "\e4cd";
}
.icon-linkedin:before {
    content: "\e4cf";
}
.icon-lastfm:before {
    content: "\e4d0";
}
.icon-lastfm2:before {
    content: "\e4d1";
}
.icon-stumbleupon:before {
    content: "\e4d3";
}
.icon-stumbleupon2:before {
    content: "\e4d4";
}
.icon-pinterest:before {
    content: "\e4d6";
}
.icon-pinterest2:before {
    content: "\e4d7";
}
.icon-xing2:before {
    content: "\e4d8";
}
.icon-paypal:before {
    content: "\e4dd";
}
.icon-file-pdf:before {
    content: "\e4e2";
}
.icon-file-word:before {
    content: "\e4e4";
}
.icon-file-excel:before {
    content: "\e4e5";
}
.icon-file-zip:before {
    content: "\e4e6";
}
.icon-file-xml:before {
    content: "\e4e8";
}
.icon-html5:before {
    content: "\e4ea";
}
.icon-html52:before {
    content: "\e4eb";
}
.icon-css3:before {
    content: "\e4ec";
}
.icon-chrome:before {
    content: "\e4ed";
}
.icon-firefox:before {
    content: "\e4ee";
}
.icon-IE:before {
    content: "\e4ef";
}
.icon-opera:before {
    content: "\e4f0";
}
.icon-safari:before {
    content: "\e4f1";
}
.icon-IcoMoon:before {
    content: "\e4f2";
}
.icon-500px-with-circle:before {
    content: "\e90c";
}
.icon-500px2:before {
    content: "\e90d";
}
.icon-google-plus-square:before {
    content: "\e916";
}
.icon-google-plus4:before {
    content: "\e914";
}
.icon-bullseye:before {
    content: "\f140";
}
.icon-google:before {
    content: "\e913";
}
.icon-deviantart3:before {
    content: "\f1bd";
}
.icon-vine:before {
    content: "\f1ca";
}
.icon-cc-visa:before {
    content: "\f1f0";
}
.icon-cc-mastercard:before {
    content: "\f1f1";
}
.icon-cc-discover:before {
    content: "\f1f2";
}
.icon-cc-amex:before {
    content: "\f1f3";
}
.icon-cc-paypal:before {
    content: "\f1f4";
}
.icon-cc-stripe:before {
    content: "\f1f5";
}
.icon-venus:before {
    content: "\f221";
}
.icon-mars:before {
    content: "\f222";
}
.icon-mercury:before {
    content: "\f223";
}
.icon-intersex:before {
    content: "\f224";
}
.icon-transgender:before {
    content: "\f224";
}
.icon-transgender-alt:before {
    content: "\f225";
}
.icon-venus-double:before {
    content: "\f226";
}
.icon-mars-double:before {
    content: "\f227";
}
.icon-venus-mars:before {
    content: "\f228";
}
.icon-mars-stroke:before {
    content: "\f229";
}
.icon-mars-stroke-v:before {
    content: "\f22a";
}
.icon-mars-stroke-h:before {
    content: "\f22b";
}
.icon-neuter:before {
    content: "\f22c";
}
.icon-hand-grab-o:before {
    content: "\f255";
}
.icon-hand-rock-o:before {
    content: "\f255";
}
.icon-hand-paper-o:before {
    content: "\f256";
}
.icon-hand-stop-o:before {
    content: "\f256";
}
.icon-hand-scissors-o:before {
    content: "\f257";
}
.icon-hand-lizard-o:before {
    content: "\f258";
}
.icon-hand-spock-o:before {
    content: "\f259";
}
.icon-hand-pointer-o:before {
    content: "\f25a";
}
.icon-hand-peace-o:before {
    content: "\f25b";
}
.icon-500px:before {
    content: "\f26e";
}
.icon-amazon:before {
    content: "\f270";
}
.icon-sign-out:before {
    content: "\f08b";
}
.icon-sign-in:before {
    content: "\f090";
}
.icon-user:before {
    content: "\f007";
}
.icon-key:before {
    content: "\f084";
}
.icon-gears:before {
    content: "\f085";
}
.icon-group:before {
    content: "\f0c0";
}
.icon-euro:before {
    content: "\f153";
}
.icon-gbp:before {
    content: "\f154";
}
.icon-dollar:before {
    content: "\f155";
}
.icon-rupee:before {
    content: "\f156";
}
.icon-cny:before {
    content: "\f157";
}
.icon-ruble:before {
    content: "\f158";
}
.icon-won:before {
    content: "\f159";
}
.icon-bitcoin:before {
    content: "\f15a";
}
.icon-xing:before {
    content: "\f168";
}
.icon-vk:before {
    content: "\f189";
}

