@media (min-width: 768px) {
.woocommerce form .form-row-first,
.woocommerce-page form .form-row-first {
padding-right: 15px;
width: 50%;
float: left;
}
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {
padding-left: 15px;
width: 50%;
float: left;
}
}
.woocommerce-demo-store #kad-banner {margin-top:30px;}
.clear{clear:both}
.nobr {
  white-space: nowrap;
}
@font-face {
  font-family: 'star';
  src: url('fonts/star.eot');
  src: url('fonts/star.eot?#iefix') format('embedded-opentype'), url('fonts/star.woff') format('woff'), url('fonts/star.ttf') format('truetype'), url('fonts/star.svg#star') format('svg');
  font-weight: normal;
  font-style: normal;
}
form .form-row select {
width: 100%;
cursor: pointer;
margin: 0;
max-width: 300px;
}
.woocommerce form .form-row label.inline, .woocommerce-page form .form-row label.inline {
  display: inline;
}
p.demo_store {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  font-size: 1em;
  padding: .5em 0;
  text-align: center;
  background: @primary;
  color: #ffffff;
  z-index: 99998;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
}
.admin-bar p.demo_store {
  top: 28px;
}
small.note {
  display: block;
  color: #777777;
  font-size: 11px;
  line-height: 21px;
  margin-top: 10px;
}
.myaccount_user {
  margin-bottom: 20px;
}
div.product .out-of-stock {
  color: red;
}
div.product div.images div.thumbnails:after {
  content: "";
  display: block;
  clear: both;
}

#content div.product div.images div.thumbnails a.last {
  margin-right: 0;
}
div.product div.images div.thumbnails a.first {
  clear: both;
}
div.product div.social {
  text-align: right;
  margin: 0 0 1em;
}
div.product div.social span {
  margin: 0 0 0 2px;
}
div.product div.social span span {
  margin: 0;
}
div.product div.social span .stButton .chicklets {
  padding-left: 16px;
  width: 0;
}
#content div.product div.social iframe {
  float: left;
  margin-top: 3px;
}
#content div.product .woocommerce-tabs {
  clear: both;
}
#content div.product .woocommerce-tabs ul.tabs li a {
  display: inline-block;
  padding: .5em 0;
  font-weight: bold;
  color: #5e5e5e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
#content div.product .woocommerce-tabs ul.tabs li a:hover {
  text-decoration: none;
  color: #777777;
}
#content div.product .woocommerce-tabs ul.tabs li.active {
  background: #ffffff;
  z-index: 2;
  border-bottom-color: #ffffff;
}
#content div.product .woocommerce-tabs ul.tabs li.active a {
  color: #333;
  text-shadow: inherit;
}
#content div.product .woocommerce-tabs .panel {
  margin: 0 0 2em;
  padding: 0;
}
 #content div.product p.cart {
  margin-bottom: 2em;
}
#content div.product p.cart:after {
  content: "";
  display: block;
  clear: both;
}
#content div.product form.cart {
  margin-bottom: 2em;
  position: relative;
}
#content div.product form.cart:after {
  content: "";
  display: block;
  clear: both;
}
#content div.product form.cart table div.quantity {
  float: none;
  margin: 0;
}
#content div.product form.cart table small.stock {
  display: block;
  float: none;
}
#content div.product form.cart .variations label {
  font-weight: bold;
}
#content div.product form.cart .button {
  vertical-align: middle;
  float: left;
}
#content div.product form.cart .group_table td.label {
  padding-right: 1em;
  padding-left: 1em;
}
#content div.product form.cart .group_table td {
  vertical-align: top;
}

.products ul li,
ul.products li {
  list-style: none outside;
}
.related:after,
.upsells.products:after {
  content: "";
  display: block;
  clear: both;
}
.related ul.products,
.upsells.products ul.products,
.related ul,
.upsells.products ul {
  float: none;
}

ul.products li.product {
  float: left;
  margin: 0 3.8% 2.992em 0;
  padding: 0;
  position: relative;
  width: 22.05%;
  margin-left: 0;
}
ul.products li.product .onsale {
  top: 0;
  right: 0;
  left: auto;
  margin: -6px -6px 0 0;
}
ul.products li.product h3 {
  padding: .5em 0;
  margin: 0;
  font-size: 1em;
}
 ul.products li.product a {
  text-decoration: none;
}
ul.products li.product a img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
ul.products li.product a:hover img {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}
ul.products li.product strong {
  display: block;
}
ul.products li.product .price {
  color: #85ad74;
  display: block;
  font-weight: normal;
  margin-bottom: .5em;
}
ul.products li.product .price del {
  font-size: 0.67em;
  color: rgba(145, 145, 145, 0.5);
  margin: -2px 0 0 0;
}
ul.products li.product .price ins {
  background: none;
}
ul.products li.product .price .from {
  font-size: 0.67em;
  margin: -2px 0 0 0;
  text-transform: uppercase;
  color: rgba(145, 145, 145, 0.5);
}
ul.products li.first {
  clear: both;
}
ul.products li.last {
  margin-right: 0;
}

a.button.loading,
button.button.loading,
input.button.loading {
  color: #777777;
  border: 1px solid #f7f6f7;
}
a.button.loading:before,
button.button.loading:before,
input.button.loading:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../img/ajax-loader.gif) center no-repeat rgba(255, 255, 255, 0.65);
}

#content .quantity noindex:-o-prefocus,
#content .quantity input[type=number] {
  padding-right: 1.2em;
}
#content .quantity .plus,
#content .quantity .minus {
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  overflow: visible;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  line-height: 10px;
  font-size: 12px;
  color: #444;
  border: 1px solid #c6c6c6;
  border-left: 0;
  background: #f7f6f7;
}
#content .quantity .plus:hover,
#content .quantity .minus:hover {
  background: #d3d3d3;
}
#content .quantity .plus {
  top: 0;
  right: 0;
  border-bottom: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#content .quantity .minus {
  bottom: 0;
  right: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#reviews h2 small {
  float: right;
  color: #777777;
  font-size: 15px;
  line-height: 21px;
  margin: 10px 0 0 0;
}
#reviews h2 small a {
  text-decoration: none;
  color: #777777;
}
 #reviews #respond {
  margin: 0;
  border: 0;
  padding: 0;
}
#reviews #comments .add_review:after {
  content: "";
  display: block;
  clear: both;
}
#reviews #comments h2 {
  clear: none;
}
#reviews #comments ol.commentlist {
  margin: 0;
  width: 100%;
  background: none;
  list-style: none;
}
#reviews #comments ol.commentlist:after {
  content: "";
  display: block;
  clear: both;
}
#reviews #comments ol.commentlist li {
  padding: 00;
  margin: 0 0 20px;
  position: relative;
  background: 0;
  border: 0;
}
#reviews #comments ol.commentlist li .meta {
  color: #777777;
  font-size: 0.75em;
}
#reviews #comments ol.commentlist li img.avatar {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  width: 32px;
  height: auto;
  background: #f7f6f7;
  border: 1px solid #f0eef0;
  margin: 0;
  line-height: 1;
}
#reviews #comments ol.commentlist li .comment-text {
  margin: 0 0 0 50px;
  border: 1px solid #f0eef0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 1em 1em 0;
}
#reviews #comments ol.commentlist li .comment-text p {
  margin: 0 0 1em;
}
#reviews #comments ol.commentlist li .comment-text p.meta {
  font-size: 0.83em;
}
#reviews #comments .commentlist > li:before {
  content: "";
}
.hreview-aggregate .star-rating {
  margin: 10px 0 0 0;
}
 #review_form #respond {
  position: static;
  margin: 0;
  width: auto;
  padding: 0 0 0;
  background: transparent none;
  border: 0;
}
 #review_form #respond:after {
  content: "";
  display: block;
  clear: both;
}
 #review_form #respond p {
  margin: 0 0 10px;
}
 #review_form #respond .form-submit input {
  left: auto;
}
#review_form #respond textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.woocommerce, .woocommerce-page {
p.stars {
    position: relative;
    font-size: 1em;

    a {
      display: inline-block;
      font-weight: 700;
      margin-right: 1em;
      text-indent: -9999px;
      position: relative;

      &:last-child {
        border-right:0;
      }

      &.star-1,
      &.star-2,
      &.star-3,
      &.star-4,
      &.star-5 {
        border-right:1px solid #ccc;

        &:after {
          font-family: "virtue_icons";
          text-indent: 0;
          position: absolute;
          top: 0;
          left: 0;
          //padding-right: 1em;
        }

      }

      &.star-1 {
        width: 2em;

        &:after {
          content: "\e2ff";
        }

        &:hover:after,
        &.active:after {
          content: "\e301"
        }
      }

      &.star-2 {
        width: 3em;

        &:after {
          content: "\e2ff\e2ff";
        }

        &:hover:after,
        &.active:after {
          content: "\e301\e301"
        }
      }

      &.star-3 {
        width: 4em;

        &:after {
          content: "\e2ff\e2ff\e2ff";
        }

        &:hover:after,
        &.active:after {
          content: "\e301\e301\e301"
        }
      }

      &.star-4 {
        width: 5em;

        &:after {
          content: "\e2ff\e2ff\e2ff\e2ff";
        }

        &:hover:after,
        &.active:after {
          content: "\e301\e301\e301\e301"
        }
      }

      &.star-5 {
        width: 6em;
        border: 0;

        &:after {
          content: "\e2ff\e2ff\e2ff\e2ff\e2ff";
        }

        &:hover:after,
        &.active:after {
          content: "\e301\e301\e301\e301\e301"
        }
      }
    }
  }
}
table.shop_attributes {
  border: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-bottom: 1.618em;
  width: 100%;
}
table.shop_attributes th {
  width: 150px;
  font-weight: bold;
  padding: 8px;
  border-top: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5em;
}
table.shop_attributes td {
  font-style: italic;
  padding: 0;
  border-top: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5em;
}
table.shop_attributes td p {
  margin: 0;
  padding: 8px 0;
}
table.shop_attributes .alt td,
table.shop_attributes .alt th {
  background: rgba(0, 0, 0, 0.025);
}
table.shop_table td small {
  font-weight: normal;
}
table.shop_table tfoot td,
table.shop_table tfoot th {
  font-weight: bold;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
table.my_account_orders {
  font-size: 0.85em;
}
table.my_account_orders th,
table.my_account_orders td {
  padding: 4px 8px;
  vertical-align: middle;
}
table.my_account_orders .button {
  white-space: nowrap;
}
table.my_account_orders .order-actions {
  text-align: right;
}
table.my_account_orders .order-actions .button {
  margin: .125em 0 .125em .25em;
}
td.product-name dl.variation {
  margin: .25em 0 .5em;
  font-size: 0.8751em;
}
td.product-name dl.variation dt {
  font-weight: bold;
  float: left;
  clear: left;
  margin: 0 .25em 0 0;
  padding: 0;
}
 td.product-name dl.variation dd {
  margin: 0 0 .25em 0;
}
td.product-name p.backorder_notification {
  font-size: 0.83em;
}

table.cart th,
table.cart td {
  vertical-align: middle;
}
#content table.cart a.remove {
   display: block;
font-size: 20px;
height: 20px;
width: 20px;
text-align: center;
line-height: 20px;
border-radius: 0;
vertical-align: middle;
padding: 0;
color: red;
text-decoration: none;
font-weight: 700;
}
#content table.cart a.remove:hover, table.cart a.remove:hover{
  background-color: red;
  color: #fff;
}
ul.cart_list,
ul.product_list_widget {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
ul.cart_list li,
ul.product_list_widget li {
  padding: 4px 0;
  margin: 0;
  list-style: none;
}
ul.cart_list li:after,
ul.product_list_widget li:after {
  content: "";
  display: block;
  clear: both;
}
 ul.cart_list li a,
ul.product_list_widget li a {
  display: block;
  font-weight: bold;
}
ul.cart_list li dl,
ul.product_list_widget li dl {
  margin: 0;
  font-size: 0.8751em;
  padding-left: 1em;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
 ul.cart_list li dl dt,
ul.product_list_widget li dl dt {
  float: left;
  clear: left;
  margin-right: .25em;
}
ul.cart_list li dl dd,
ul.product_list_widget li dl dd {
  margin-bottom: .5em;
}
ul.cart_list li .star-rating,
ul.product_list_widget li .star-rating {
  float: none;
}
.widget_shopping_cart .total {
  border-top: 3px double #f7f6f7;
  padding: 4px 0 0;
}
.widget_shopping_cart .total strong {
  min-width: 40px;
  display: inline-block;
}
.widget_shopping_cart .buttons:after {
  content: "";
  display: block;
  clear: both;
} 
.cart-collaterals {
  width: auto;
}
.cart-collaterals:after {
  content: "";
  display: block;
  clear: both;
}
.cart-collaterals .related {
  width: 30.75%;
  float: left;
}
 .cart-collaterals .cross-sells ul.products {
  float: none;
}
.cart-collaterals .shipping_calculator:after {
  content: "";
  display: block;
  clear: both;
}
.cart-collaterals .shipping_calculator .col2-set .col-1,
.cart-collaterals .shipping_calculator .col2-set .col-2 {
  width: 47%;
}
.cart-collaterals .cart_totals p {
  margin: 0;
}
.cart-collaterals .cart_totals p small {
  color: #777777;
  font-size: 0.83em;
}
.cart_totals table tr:first-child th,
.cart-collaterals .cart_totals table tr:first-child td {
  border-top: 0;
}
.cart-collaterals .cart_totals table small {
  display: block;
  color: #777777;
}
.cart-collaterals .cart_totals table select {
  width: 100%;
}
.cart-collaterals .cart_totals .discount td {
  color: #85ad74;
}

form .form-row:after {
  content: "";
  display: block;
  clear: both;
}
form .form-row [placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s 0.5s ease;
  -moz-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
form .form-row label {
  display: block;
}
.form-row label.hidden {
  visibility: hidden;
}
form .form-row .required {
  color: red;
  font-weight: bold;
  border: 0;
  cursor: default;
}
form .form-row .input-checkbox {
  display: inline;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
}
form .form-row label.checkbox {
  display: inline;
}
form .form-row textarea {
  height: 3.5em;
  line-height: 1.5em;
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
form .form-row.validate-required.woocommerce-invalid input.input-text {
  border: 1px solid red;
}
form .form-row.validate-required.woocommerce-invalid .chzn-single,
form .form-row.validate-required.woocommerce-invalid .chzn-drop,
form .form-row.validate-required.woocommerce-invalid input.input-text,
form .form-row.validate-required.woocommerce-invalid select {
  border-color: #fb7f88;
}
form .form-row ::-webkit-input-placeholder {
  line-height: 1em;
  padding-top: 2px;
}
form .form-row :-moz-placeholder {
  line-height: 1em;
  padding-top: 2px;
}
form .form-row :-ms-input-placeholder {
  line-height: 1em;
  padding-top: 2px;
}
form .form-row-first,
form .form-row-last {
  overflow: visible;
  position: relative;
  min-height: 1px;
}
form .form-row-wide {
  clear: both;
}
ul#shipping_method {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
ul#shipping_method li {
  margin: 0;
  padding: .25em 0 .25em 22px;
  text-indent: -17px;
  list-style: none outside;
}
ul#shipping_method .amount {
  font-weight: bold;
}
.checkout .col-2 h3 {
  float: left;
  clear: none;
}
.checkout .col-2 .notes {
  clear: left;
}
.checkout .col-2 .form-row-first {
  clear: left;
}
.checkout div.shipping-address {
  padding: 0;
  clear: left;
  width: 100%;
}
.checkout #shiptobilling {
  float: right;
  line-height: 1.62em;
  margin: 0 0 0 0;
  padding: 0;
}
.checkout .shipping_address {
  clear: both;
}
#payment ul.payment_methods {
  text-align: left;
  padding: 1em;
  border-bottom: 1px solid #dfdbdf;
  border-color: rgba(0,0,0,0.07);
  margin: 0;
  list-style: none outside;
}
#payment ul.payment_methods:after {
  content: "";
  display: block;
  clear: both;
}
#payment ul.payment_methods li {
  line-height: 2em;
  text-align: left;
  margin: 0;
  font-weight: normal;
}
#payment ul.payment_methods li img {
  vertical-align: middle;
  margin: -2px 0 0 0.5em;
  position: relative;
}

 #payment div.payment_box p:last-child {
  margin-bottom: 0;
}
#payment div.payment_box #cc-expire-year {
  width: 48%;
  float: left;
}
#payment div.payment_box #cc-expire-year {
  float: right;
}
#payment div.payment_box span.help {
  font-size: 11px;
  color: #777777;
  line-height: 13px;
  font-weight: normal;
}
#payment div.payment_box .form-row {
  margin: 0 0 1em;
}
 #payment div.payment_box .form-row select {
  width: 48%;
  float: left;
  margin-right: 3.8%;
}
#payment div.payment_box .form-row select:nth-child(3n) {
  margin-right: 0;
}

.order_details {
  margin: 0 0 1.5em;
  list-style: none;
}
.order_details:after {
  content: "";
  display: block;
  clear: both;
}
.order_details li {
  float: left;
  margin-right: 2em;
  text-transform: uppercase;
  font-size: 0.715em;
  line-height: 1em;
  border-right: 1px dashed #dfdbdf;
  padding-right: 2em;
  padding-top: 10px;
}
.order_details li strong {
  display: block;
  font-size: 1.4em;
  text-transform: none;
  line-height: 1.5em;
}
.order_details li:last-of-type {
  border: none;
}
.addresses .title:after {
  content: "";
  display: block;
  clear: both;
}
.addresses .title h3 {
  float: left;
}
.addresses .title .edit {
  float: right;
}
 ol.commentlist.notes li.note p.meta {
  font-weight: bold;
  margin-bottom: 0;
}
 ol.commentlist.notes li.note .description p:last-child {
  margin-bottom: 0;
}
 ul.digital-downloads {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 20px;
}
ul.digital-downloads li {
  list-style: none;
  margin-left: 0;
  padding-left: 1.5em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQIHWP8//8/AwgwMjLWgxlQAijeCGIyIQtiYxNUwAjUhWI0uilMMLvQJUB8kBzYCmyKYGJwN8AEYDphJgIAPtccffZCsOoAAAAASUVORK5CYII=) left no-repeat;
  /* download icon */

}
ul.digital-downloads li .count {
  float: right;
}

.widget_price_filter .ui-slider-horizontal {
  height: .5em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
  .woocommerce a.button.loading:before,
  .woocommerce-page a.button.loading:before,
  .woocommerce button.button.loading:before,
  .woocommerce-page button.button.loading:before,
  .woocommerce input.button.loading:before,
  .woocommerce-page input.button.loading:before,
  .woocommerce #respond input#submit.loading:before,
  .woocommerce-page #respond input#submit.loading:before,
  .woocommerce #content input.button.loading:before,
  .woocommerce-page #content input.button.loading:before {
    background-image: url(../img/ajax-loader@2x.gif);
    background-size: 16px 16px;
  }
}