#content div.product form.cart {
    margin-top: 3em;
}

.contentclass {
  padding-top: 0px;
  padding-bottom: 0;
}
#containerfooter a.ow-button-hover.sow-social-media-button {
  padding: 0.35em 0.35em;
  opacity: 0.5;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#containerfooter a.ow-button-hover.sow-social-media-button:hover  {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#containerfooter .widget {
  margin-top: 15px;
}
/* ================================ */
/*          KOOT CUSTOMIZER         */
/* ================================ */
/* ================================ */
/*       TYPOGRAPHY MAIN STYLE      */
/* ================================ */

body {
  font-size: 15px;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: -0.018em;
  line-height: 1.5em;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.home, body.single-post .main, body.page-template:not(.page-template-page-blog).page:not(.page-id-1378) .main {
  font-size: 16px;
  line-height: 1.68em;
}
body.page-template.page.page-chce-zmienic-prace .main,
body.page-template.page-szukam-pomyslu-na-siebie .main {
  font-size: 15px !important;
  line-height: 1.5em !important;
}

body:not(.page-template-page-blog) .main p, body .main ol li, body .main ul li, body .main li,
.excerpt {
  font-size: 0.97em !important;
}
body .main ol {
    font-weight: normal;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  font-style: normal;
  line-height: 1.34em !important;
  letter-spacing: -0.025em;
}
.entry-content.clearfix hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  /*border-top: 1px solid #fff !important;*/
  border-top: 1px dotted #cecece !important;
  display: block;
  width: 100% !important;
}
a img[class*=wp-image], [class*=wp-image] {
  /* padding: 0;
 -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.055);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.055);
  box-shadow: 1px 2px 12px rgba(0,0,0,.055);*/
  border-color: inherit !important;
  box-shadow: inherit !important;
}
img.alignleft {
  padding-right: 15px;
  padding-left: 0px;
}

img.alignright {
  padding-right: 0px;
  padding-left: 15px;
}

.main p:not(.mailpoet_paragraph) a:hover:not(.read_more), .main a:hover span:not(.postday), .main a[target="_blank"]:hover:before {
  color: #14879b !important;
}
#post-grid-1590 .read_more:hover, a.element.element_2.read_more {
  color: #fff !important;
}

#content a [class*=wp-image]:hover {
  opacity:1;
}
.blog_carousel .blog_item:hover .imghoverclass a img {
  opacity:0.9;
}

input.mailpoet_submit {
  padding: 12px 20px;
  background: #14879b;
  border: 0 !important;
  color: #fff;
  transition: background .6s ease-out;
  -webkit-transition: background .6s ease-out;
  -moz-transition: background .6s ease-out;
  -o-transition: background .6s ease-out;
}
input.mailpoet_submit:hover {
  background: #035c82;
}
#post-grid-1590 .title {
  font-size: 20px;
  font-weight: 700;
  color: #035c82;
  text-transform: uppercase;
  line-height: 1.34em !important;
}


blockquote, blockquote p {
  font-size: 20px !important;
  font-style: italic !important;
  padding-top: 3px !important;
  margin: 25px 0 25px 5px;
}
blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
  font-style: italic !important;
  font-weight: 600 !important;
}

/* ================================ */
/*  NAVI MAIN MENU HOVER + CURRENT  */
/* ================================ */

#cat_nav.navclass {
  background: #0a6683;
}
#nav-second ul.sf-menu li > a[aria-current="page"] {
  background-color: #14879b !important;
}

/* ================================ */
/*       HOME KARUZELA Z LOGO       */
/* ================================ */

.slick-slider .portfolio_item .imghoverclass a {
  height: 190px;
}
.slick-slider .portfolio_item .imghoverclass a img {
  width: auto;
  height: 100%;
  margin: 0;
  max-height: 120px;
  text-align: center;
  left: 0;
  right: 0;
  overflow: hidden;
  width: -webkit-fill-available;
  object-fit: contain;
}
.slick-slider .portfolio_item a.portfoliolink {
  opacity: 1 !important;
}
.slick-slider .portfolio_item a.portfoliolink h5 {
  color: #5f6069;
  position: relative;
  vertical-align: top;
  display: block;
}

.slick-slider .portfolio_item:hover a.portfoliolink h5 {
  opacity: 1;
  color: #035c82;
}

/* ================================ */
/*      HEADER + TITLE STYLE       */
/* ================================ */

.entry-title {
  text-transform: uppercase;
  margin-bottom: 20px !important;
}
.entry-title:hover {
  color: #14879b !important;
}

/*.post header h1.entry-title, */
.page-header h1 {
  color: #14879b !important;
  line-height: 1.34em !important;
  font-size: 36px !important;
  font-weight: 900 !important;
}
.page-header {
  border-bottom: 3px solid #14879b;
  padding-bottom: 0px;
  margin-bottom: 30px;
}


/* ================================ */
/*   BLOG ARCHIVE + SINGLE STYLE    */
/* ================================ */

.text-style-inherit .siteorigin-widget-tinymce.textwidget h1,
.text-style-inherit .siteorigin-widget-tinymce.textwidget h2,
.text-style-inherit .siteorigin-widget-tinymce.textwidget h3,
.text-style-inherit .siteorigin-widget-tinymce.textwidget h4,
.text-style-inherit .siteorigin-widget-tinymce.textwidget h5,
.text-style-inherit .siteorigin-widget-tinymce.textwidget h6 {
  line-height: inherit !important;
  color: inherit !important;
  font-weight: inherit !important;
  letter-spacing: inherit !important;
}


/* ================================ */
/*   BLOG ARCHIVE + SINGLE STYLE    */
/* ================================ */

.page-template-page-blog h3.entry-title, .archive h3.entry-title, aside section.widget h3 {
  text-transform: uppercase;
  margin-top: -5px;
  padding-bottom: 10px;
  /* border-bottom: 1px dotted #e1e4e6; */
  border-bottom: 3px solid #ededef;
  color: #035c82;
}
section.widget h3 {
  font-size: 20px !important;
}
.page-template-page-blog .entry-content p,
.archive .entry-content p {
  letter-spacing: -0.02em;
  line-height: 1.5em;
  margin-top: 5px;
  margin-bottom: 14px;
}
.page-template-page-blog .entry-content p strong, .archive .entry-content p strong {
  font-weight: 400 !important;
}

.page-template-page-blog .subhead, .page-template-page-blog .subhead a, .postcommentscount,
.single .subhead, .single .subhead a,
.archive .subhead, .archive .subhead a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 97%;
  letter-spacing: .02em;
  font-weight: normal !important;
  line-height: 1.5em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
.page-template-page-blog .postauthortop,
.archive .postauthortop {
  display: block;
}
.page-template-page-blog .bg-lightgray, .single .postdate.bg-lightgray.headerfont,
.archive .bg-lightgray {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /*background: rgb(45, 92, 136);*/
  background: #14879b;
  color: #fff;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  border-left: 1px solid #fff;
  border-bottom: 1px dotted #fff;
}
.single .postdate.bg-lightgray.headerfont {
  padding-top: 10px;
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 18px;
}
.page-template-page-blog .bg-lightgray,
.archive  .bg-lightgray {
  margin-top: -5px;
  padding-top: 3px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 9px;
}
.page-template-page-blog span.postday, .single .postdate.bg-lightgray.headerfont span.postday,
.archive span.postday {
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  font-size: 4em;
  font-weight: 900;
  letter-spacing: -0.015em;
}
.page-template-page-blog span.posttags, span.posttags {
  color: #ffffff00;
}
.page-template-page-blog span.posttags a, span.posttags a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  display: inline-block;
  margin: 0 1px 4px 0;
  padding: 0 18px 0 12px;
  height: 24px;
  border-radius: 3px 0 0 3px;
  background: #ededef;
  color: #76797b;
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  -webkit-transition: all 0.4s;
}
.page-template-page-blog span.posttags a::after, span.posttags a::after {
  position: absolute;
  top: 0;
  right: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 10px solid #ededef;
  background: #fff;
  content: '';
  -webkit-transition: all 0.4s;
}
.page-template-page-blog span.posttags a:hover, span.posttags a:hover {
  background-color: #14879b;
  color: white !important;
}
.page-template-page-blog span.posttags a:hover::after, span.posttags a:hover::after {
  border-left-color: #14879b;
}
.page-template-page-blog .postlist article,
.archive .postlist article {
  border-color: #fff;
  border-bottom: 1px dotted #ededef;
  padding-bottom: 20px;
}
.page-template-page-blog .postlist .col-md-7 header,
.archive  .postlist .col-md-7 header {
  padding-top: 0;
}
.page-template-page-blog .page-header h1,
.archive .page-header h1 {
  color: #14879b;
  font-weight: 900;
}

.page-template-page-blog .subhead a,
.single .subhead a,
.archive .subhead a {
  color: #14879b;
  font-weight: 600 !important;
}
.page-template-page-blog .subhead a:hover,
.single .subhead a:hover,
.archive .subhead a:hover {
  color: #035c82;
}
.single .subhead {
  margin-bottom: 20px;
}
.page-template-page-blog .page-template-page-blog span.posttags i, span.posttags i,
.page-template-page-blog span.posttags > i, span.posttags > i {
  display: none;
}

.page-template-page-blog .imghoverclass.img-margin-center,
.archive .imghoverclass.img-margin-center {
  margin-bottom: 35px;
}

.postmeta.updated.color_gray {
  background: #fff;
}
.single.single-post .row.single-article .col-lg-9 .post-single-img img {
  /* width: 870px !important; */
  margin-bottom: 10px;
  width: 100% !important;
}
.single-article .post header h1.entry-title {
  line-height: 1.2em !important;
  text-transform: none;
  letter-spacing: -0.055em;
  padding-bottom: 15px;
  border-bottom: 3px solid #f7f7f7;
  margin-bottom: 45px !important;
  font-size: 28px;
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;*/
  min-height: 65px;
}
.blog_carousel .blog_item .bcarousellink>header .subhead {
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  margin-bottom: 5px;
}
.blog_carousel .blog_item .bcarousellink>header .subhead {
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  margin-bottom: 5px;
}
.single-post .main a.bcarousellink p, a.bcarousellink p {
  font-size: 15px !important;
  line-height: 1.4em;
}
.single-post .single-footer {
  padding-top: 25px;
  border-top: 1px dotted #eee;
  margin-top: 15px;
}
.blog_carousel .blog_item .bcarousellink>header .subhead
footer.single-footer {
  margin-top: 25px;
}
footer.single-footer .kad-post-navigation {
  margin-top: 45px;
}

footer.single-footer .kad-post-navigation a {
  color: #76797b;
}

footer.single-footer .kad-post-navigation a:hover {
  color: #fff !important;
}
#blog_carousel_container .title {
  text-transform: uppercase;
  padding-bottom: 15px;
}

.single-article .comment-meta {
  font-size: 12px;
  letter-spacing: -0.03em;
}
#comments h5.media-heading {
  color: #454556;
}

#comments .media-heading a {
  color: #035c82;
}
#comments p {
  font-size: 14px !important;
  line-height: 1.5em;
  font-style: italic;
  font-weight: 500;
}

.comment-header.clearfix {
  margin-bottom: 8px;
}
#comments h5.media-heading:after {
  content: " ";
  display: block;
  width: 100%;
  min-width: 160px;
  border-bottom: 1px dotted #c5c5c5;
  padding-top: 5px;
}
.single-article #comments p {
  font-size: 14px !important;
  line-height: 1.5em;
  font-style: italic;
  font-weight: 500;
}

.comment-header.clearfix {
  margin-bottom: 8px;
}
#comments h5.media-heading:after {
  content: " ";
  display: block;
  width: 100%;
  min-width: 160px;
  border-bottom: 1px dotted #c5c5c5;
  padding-top: 5px;
}

@media screen and (max-width:480px) {
  .comment-meta {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* ================================ */
/*       ASSIDE SIDEBAR STYLE       */
/* ================================ */


.widget-first {
  margin-top: 0 !important;
}

/* ================================ */
/*      EXCERPT STYLE REMOVED       */
/* ================================ */


#post-grid-1590 .excerpt {
  color: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
#post-grid-1590 .element_1  {
  padding: 5px 1px !important;
}


/* ================================ */
/*     STRONA KATEGORIE Z GRID      */
/* ================================ */

body:not(.home) .the-post-grid_category .rt-tpg-container .isotope1 .rt-holder .rt-img-holder img {
  width: 100% !important;
}
body:not(.home) .the-post-grid_category .rt-tpg-container .isotope1 .rt-holder .post-meta-user span.comment-link {
  padding-right: 10px;
}

body:not(.home) .the-post-grid_category h2.entry-title {
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 1.34em !important;
  letter-spacing: -0.025em;
  color: #035c82 !important;
  text-transform: uppercase;
}
body:not(.home) .the-post-grid_category h2.entry-title a:hover {
  color: #14879b;
}
body:not(.home) .the-post-grid_category .post-meta-user a {
  color: #14879b;
}
body:not(.home) .the-post-grid_category .post-meta-user a:hover {
  color: #14879b;
}
body:not(.home) .the-post-grid_category .entry-content p {
  /*color: #52585e;
  font-family: "Noto Sans",Helvetica,Arial,sans-serif;*/
  color: #444d54;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: -0.02em;
  line-height: 1.5em;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  margin-top: 10px;
}
body:not(.home) .the-post-grid_category .post-meta-user {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 97%;
  letter-spacing: .02em;
  font-weight: normal !important;
  line-height: 1.5em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  padding-top: 15px;
  border-top: 1px solid #e1e4e6;
}
body:not(.home) .the-post-grid_category .rt-tpg-container .isotope1 .rt-holder .rt-detail {
  background: #fff;
  padding: 15px 0;
  border-bottom: 4px solid rgba(20, 135, 155, 0.96);
}

/* ================================ */
/*     HOME 3xGRID IMAGE HEIGHT     */
/* ================================ */

/*     Bartosz Pendyk CSS FIXED     */

.home #row_z_postami h3.widget-title {
  margin: 15px auto;
}
.home #row_z_postami .rt-tpg-container {
  padding-top: 10px;
}
.home #row_z_postami .rt-img-holder {
  height: 269px;
}
.home #row_z_postami h3.entry-title {
  font-size: 20px;
  font-weight: 700;
  margin: 2px auto 5px !important;
  min-height: 60px;
  line-height: 1.2em !important;
}
.home #row_z_postami .post-content {
  font-size: 0.97em !important;
  text-align: center;
  line-height: 1.6em !important;
  text-shadow: 0px 0px 0px rgba(48, 49, 66, 0.25);
  padding: 0px 1px 15px 1px !important;
}

.home #row_z_postami .rt-tpg-container .layout1 .rt-holder .rt-detail .read-more {
  text-align: center;
  width: 99%;
  margin: 0 auto;
  position: relative;
}

.home #row_z_postami .rt-tpg-container .layout1 .rt-holder .rt-detail .read-more a {
  width: 100%;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.home #row_z_postami .rt-tpg-container .layout1 .rt-holder .rt-detail .read-more a:hover {
  background-color: #14879b;
}

@media screen
  /*and (-webkit-min-device-pixel-ratio: 1) */
and (max-device-width: 1600px)
and (min-device-width: 992px) {
  .home #row_z_postami .rt-img-holder {
    height: 14vw !important;
  }
}
@media screen
and (max-device-width: 1440px)
and (min-device-width: 1200px)  {
  .home #row_z_postami h3.entry-title {
    font-size: 1.2em;
    min-height: 75px;
  }
  .home #row_z_postami .post-content {
    line-height: 1.42em !important;
    min-height: 105px;
  }
}
@media screen
and (max-device-width: 1199px)
and (min-device-width: 768px)  {
  .home #row_z_postami h3.entry-title {
    font-size: 1em;
    min-height: 60px;
  }
  .home #row_z_postami .post-content {
    line-height: 1.42em !important;
    font-size: 0.9em !important;
    min-height: 110px;
    padding-bottom: 5px !important;
  }
}
@media screen
and (min-device-width: 768px)
and (max-device-width: 991px)  {
  .home #row_z_postami .rt-img-holder {
    height: 21vw !important;
  }
  .home #row_z_postami .rt-tpg-container .rt-col-sm-6:nth-last-of-type(1) {
    margin: 0 auto;
    width: 100%;
  }
  .home #row_z_postami .rt-tpg-container .rt-col-sm-6:nth-last-of-type(1) .rt-holder {
    width: 50%;
    position: relative;
    margin: 0 auto;
  }
  .home #row_z_postami h3.entry-title {
    font-size: 1.05em;
    margin-top: 0 !important;
  }
  .home #row_z_postami .post-content {
    min-height: 70px;
  }
}
@media screen
and (max-device-width: 767px)  {
  .home #row_z_postami .rt-img-holder {
    height: auto !important;
  }
  .home #row_z_postami h3.entry-title, .home #row_z_postami .post-content {
    min-height: auto;
    margin-top: 15px;
  }
}



/* ================================ */
/*  GAAD CSS STYLE MODE + REMOVED   */
/* ================================ */

@media screen and (min-width: 1200px) {
  #O_nas_dookolapracy {
    margin-bottom: 2.5rem !important;
  }
}


/* ================================ */
/*     Bartosz Pendyk CSS FIXED     */
/* ================================ */


/*   FIXED RESPONSIVE CONTEINER     */

body:not(.home) .container {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

@media screen
and (max-device-width: 991px)
and (min-device-width: 426px) {
  body:not(.home) .container {
    padding-right: 16px !important;
    padding-left: 15px !important;
  }
}
@media screen
and (max-device-width: 425px) {
  body:not(.home) .container {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}


/*   FIXED LOGO SIZE + main menu     */


@media screen
and (max-device-width: 768px) {
  #logo {
    width: auto;
    margin: 0 auto;
  }
}
#logo {
  width: auto;
}
#thelogo img {
  width: auto;
  /*max-width: 351px;*/
  height: auto;
  margin-left: initial;
  margin-top: 0;
}

@media screen
and (min-device-width: 992px) {
  body.home header#kad-banner .col-md-8.kad-header-right {
    margin-top: 15px;
  }
}

@media screen
and (min-device-width: 1200px) {
  body:not(.home) header#kad-banner .col-md-4.clearfix.kad-header-left {
    width: 30%;
  }
  body:not(.home) header#kad-banner .col-md-8.kad-header-right {
    width: 70%;
    margin-top: 10px;
  }
  nav#nav-main .sf-menu a {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media screen
and (max-device-width: 1199px)
and (min-device-width: 991px) {

  body:not(.home) header#kad-banner > .container {
    width: 100%;
  }

  #logo {
    padding-left:10px;
  }

  body:not(.home) header#kad-banner .col-md-4.clearfix.kad-header-left {
    width: 25%;
  }

  body:not(.home) header#kad-banner .col-md-8.kad-header-right {
    width: 75%;
  }

  nav#nav-main .sf-menu a {
    padding-right: 14px;
    padding-left: 14px;
  }
}

/*   DODAĆ DO PAGE-O-NAS    */

a.ow-icon-placement-right.ow-button-hover {
  padding: 15px 22px 15px 14px !important;
}
#klaudia-jarych .sep-triangle-bottom, #lukasz-jarych .sep-triangle-bottom {
  margin-top: -20px;
}
@media screen
and (min-device-width: 992px) {
  #klaudia-jarych .sep-triangle-bottom {
    margin-left: 22%;
  }
  #lukasz-jarych .sep-triangle-bottom {
    margin-left: -27%;
  }
}
/*
@media screen
	and (min-device-width: 1025px) {
    .max-device-width1024px {
    display: none;
    visibility: hidden;
    height: 0 !important;
}
}
@media screen
	and (max-device-width: 1024px) {
   .min-device-width1025px {
    display: none;
    visibility: hidden;
    height: 0 !important;
}
}*/
