#tab-description p > a.button-faq {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    padding: 1em 2em;
    background: transparent;
    border: 2px solid #029bb5;
    color: #029bb5;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

#tab-description p > a.button-faq:hover {
    background: #029bb5;
    color: #ffffff !important;
}
