
.product-template-default {
  .summary {
    .price {
      font-size: 18px !important;
      color: #035c82;
    }
  }
}

#dookola_social_icon_top {
  display: flex;
  width: 44px;
  position: fixed;
  box-sizing: border-box;
  z-index: 999;
  top: 200px;
  flex-direction: column;
  right: 0px;
  transition: all 400ms linear;

  a {
    display: block;
    color: #ffffff;
    font-size: 18px;
    position: relative;
    line-height: 100%;

    i {
      padding: 15px 10px;
      box-sizing: border-box;
      color: #ffffff;
      font-size: 20px;
    }

    &.dookola_linkedin,
    &.dookola_fb,
    &.dookola_insta,
    &.dookola_yt {
      background-color: #14879B;
    }

    &.dookola_linkedin:hover {
      background-color: #0077B5;
    }

    &.dookola_fb:hover {
      background-color: #3b5999;
    }

    &.dookola_insta:hover {
      background-color: #e4405f;
    }

    &.dookola_yt:hover {
      background-color: #cd201f;
    }
  }
}

#nav-second ul.sf-menu > li {
  width: 33.3333333% !important;
}

#menu-dookola_submenu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  a {
    color: white;
  }
}