
.topbarmenu {
  ul {
    li {
      a {
        color: #4a4e5d;
        display: inline-block;

        &:hover {
          color: #00779c;
        }
      }

      &:after {
        content: " | ";
        display: inline-block;
      }

      &.current-menu-item {
        a {
          color: #00779c;
        }

      }
    }
  }
}

nav#nav-main {
  .sf-menu {
    li {
      &.sklep {

        > a {
          display: inline-block;
          color: #fff !important;
          background: #0a6683;
          /*background: #ce001b;*/

          &:hover {
            background: #1b899c;
          }

          span:before {
            content: "\f07a";
            font: normal normal normal 14px/1 FontAwesome;
            padding-right: 8px;
            font-size: 17px;
          }
        }

        &.current-menu-item {
          > a {
            background: #1b899c;
            color: #fff;
          }
        }
      }

      &.konsultacje {
        margin-right: 1px;

        > a {
          display: inline-block;
          color: #fff !important;
          /*background: #2b2e3a;*/
          background: #4a4e5d;

          &:hover {
            background: #1b899c;
          }

          span:before {
            content: "\f2be";
            font: normal normal normal 14px/1 FontAwesome;
            padding-right: 8px;
            font-size: 17px;
          }
        }

        &.current-menu-item {
          > a {
            background: #1b899c;
            color: #fff;
          }
        }
      }
    }
  }
}

#nav-second {

  ul.sf-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    > li {
      width: 100% !important;
      /*width: auto !important;*/
      float: none;
      display: inline-block;

      > a {
        /* padding-left: 1vw;
         padding-right: 1vw;*/
        letter-spacing: 0.02em;
      }
    }

    li.menu-chce-wiedziec-jak-sie-zyje-za-granica {
      min-width: 265px;
    }
  }
}

@media screen and (min-width: 1200px) {
  #nav-second {
    ul.sf-menu {
      li.menu-chce-wiedziec-jak-sie-zyje-za-granica {
        min-width: 285px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  #nav-second {
    ul.sf-menu {
      li.menu-chce-zmienic-prace {
        max-width: 145px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #nav-second {
    ul.sf-menu {
      display: none;
    }
  }
}


.col-md-6.col-sm-6.kad-topbar-left {
  width: 75%;
}
.col-md-6.col-sm-6.kad-topbar-right {
  width: 25%;
}
.single-product header#kad-banner {
  margin-bottom: 35px;
}

/*
@TODO From this point some doubled code can be present, clean up needed
*/

/* line 4, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
.topbarmenu ul li a {
  color: #4a4e5d;
  display: inline-block;
}

/* line 7, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
.topbarmenu ul li a:hover {
  color: #00779c;
}

/* line 11, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
.topbarmenu ul li:after {
  content: " | ";
  display: inline-block;
}

/* line 17, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
.topbarmenu ul li.current-menu-item a {
  color: #00779c;
}

/* line 31, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.sklep > a {
  display: inline-block;
  color: #fff !important;
  background: #0a6683;
  /*background: #ce001b;*/
}

/* line 37, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.sklep > a:hover {
  background: #1b899c;
}

/* line 41, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.sklep > a span:before {
  content: "\f07a";
  font: normal normal normal 14px/1 FontAwesome;
  padding-right: 8px;
  font-size: 17px;
}

/* line 50, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.sklep.current-menu-item > a {
  background: #1b899c;
  color: #fff;
}

/* line 57, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.konsultacje {
  margin-right: 1px;
}

/* line 60, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.konsultacje > a {
  display: inline-block;
  color: #fff !important;
  /*background: #2b2e3a;*/
  background: #4a4e5d;
}

/* line 66, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.konsultacje > a:hover {
  background: #1b899c;
}

/* line 70, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.konsultacje > a span:before {
  content: "\f2be";
  font: normal normal normal 14px/1 FontAwesome;
  padding-right: 8px;
  font-size: 17px;
}

/* line 79, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
nav#nav-main .sf-menu li.konsultacje.current-menu-item > a {
  background: #1b899c;
  color: #fff;
}

/* line 90, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
#nav-second ul.sf-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* line 95, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
#nav-second ul.sf-menu > li {
  width: 100% !important;
  /*width: auto !important;*/
  float: none;
  display: inline-block;
}

/* line 101, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
#nav-second ul.sf-menu > li > a {
  /* padding-left: 1vw;
         padding-right: 1vw;*/
  letter-spacing: 0.02em;
}

/* line 108, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
#nav-second ul.sf-menu li.menu-chce-wiedziec-jak-sie-zyje-za-granica {
  min-width: 265px;
}

@media screen and (min-width: 1200px) {
  /* line 117, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
  #nav-second ul.sf-menu li.menu-chce-wiedziec-jak-sie-zyje-za-granica {
    min-width: 285px;
  }
  #nav-second ul.sf-menu li.menu-blog {
    max-width: 84px;
  }
  #nav-second ul.sf-menu li.menu-spis-tresci {
    max-width: 125px;
  }
}

@media screen and (max-width: 1199px) {
  /* line 127, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
  #nav-second ul.sf-menu li.menu-chce-zmienic-prace {
    max-width: 145px;
  }
  #nav-second ul.sf-menu li.menu-blog {
    max-width: 50px;
  }
  #nav-second ul.sf-menu li.menu-spis-tresci {
    max-width: 99px;
  }
}

@media screen and (max-width: 991px) {
  /* line 136, C:/projects/dookolapracy-www/wp-content/themes/dookolapracy_child_theme/assets/scss/comp/_header-menu.scss */
  #nav-second ul.sf-menu {
    display: none;
  }
  .kt-not-mobile-sticky #topbar {
    background: #1487a1;
  }
  .kt-not-mobile-sticky #topbar ul li a {
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  #topbar {
    display: block;
  }
}