.home {

  .main {

    padding-right: 0;
    padding-left: 0;

  }

  h3 {
    &.widget-title {
      color: #0A6683;
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
    }
  }


  [role="document"] {
    padding-top: 0;
  }


  #dookola_zobacz_wiecej_autorzy,
  #dookola_o_nas_autorzy {
    & > button {
      margin-top: 15px;
      border: none;
      color: #ffffff;
      background-color: #14879b;
      padding: 7px 30px;
      font-weight: 700;
      margin-left: 10px;
      display: block;

      &:hover {
        color: #ffffff;
        background-color: #0F6777;
      }
    }
  }

  #row_z_postami {
.entry-title{
  text-align: center;
}
    .rt-equal-height {
      .rt-img-holder {
        max-height: 220px;
        overflow: hidden;

        img {
          min-height: 230px;
        }

      }
    }
  }

  #pre-footer {

    #O_nas_dookolapracy_tekst {
      padding-top: 40px;
    }
  }
}

.homepagecontent {

  > br:first-of-type {
    display: none !important;
  }

  @media screen and (min-width: 768px) {
    &.container {
      width: 100%;

      .main[role="main"] {


        #post-grid-1590 {
          .grid-items {

            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            & > * {
              min-width: 44%;
              width: 44%;

              .layer-media {
                a {
                  display: flex;
                  max-height: 180px;
                  justify-content: flex-start;
                  align-items: center;

                  img {

                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 991px) {
    &.container {
      width: 100%;

      .main[role="main"] {


        #post-grid-1590 {

          .grid-items {


            & > * {
              min-width: 30%;
              width: 30%;
            }

            .layer-media {
              a {
                max-height: 165px;

                img {

                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &.container {
      width: 100%;

      .main[role="main"] {


        #post-grid-1590 {

          .grid-items {

            & > * {
              min-width: 30%;
            }

            .layer-media {
              a {
                max-height: 310px;

                img {

                }
              }
            }
          }
        }
      }
    }
  }
}

#O_nas_dookolapracy {
  background-color: #035C82;


  #O_nas_dookolapracy_tekst {
    padding-top: 40px;
    padding-right: 2rem;
    padding-left: 2rem;

    h3 {
      color: white;
      font-size: 24px;
      line-height: 30px;
    }

    h4 {
      color: white;
      font-size: 16px;
    }

    p {
      color: white;
      font-size: 14px;
    }

    #buttony_nawigacyjne {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }


  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center !important;
    padding-bottom: 0;
    position: relative;

    @media screen and (max-width: 991px) {
      #pgc-1449-2-0 {
        z-index: 2;
        background: rgba(3, 92, 130, 0.875);
        height: 100%;
        width: 50%;
        margin: 0;
        padding-bottom: 3rem;
      }

      #pgc-1449-2-1 {
        position: absolute;
        z-index: 0;
        width: 100%;
        top: 0;


        img {
          max-width: 130%;
          width: 130%;
        }

      }
    }
  }

  @media screen and (min-width: 991px) {

    & > div {
      width: 50%;
    }

    display: flex;
    align-items: center !important;
    padding-bottom: 0;
    padding-left: 3.5rem;

    #O_nas_dookolapracy_tekst {
      padding-top: 0;

      h3 {
        font-size: 34px;
        max-width: 95%;
        line-height: 39px;
      }

      h4 {
        font-size: 18px;
      }

      p {
        color: white;
        font-size: 16px;
        padding-bottom: 1rem;
      }
    }

    @media screen and (max-width: 1200px) {
      #panel-1449-2-1-0 {
        .sow-image-container {
          overflow: hidden;
        }

        img {
          min-height: 55rem;
          max-width: unset;
          width: auto;
          transform: translateX(-20%);
        }
      }

    }

  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 6rem;
  }
}

