/* GRUPA NOVA B.P. MAPA WPISÓW */

.mapa-wpisow .kad_blog_fade_in {
  opacity: 1 !important;
  display: inline-block;
}
.mapa-wpisow .page-template-page-blog .postauthortop {
  display: inline !important;
}
@media screen and (min-width: 769px) {
  .mapa-wpisow .kt-intrinsic-container-center {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    max-width: 364px;
    padding-right: 15px;
    height: 230px;
    overflow: hidden;
  }
  .mapa-wpisow .imghoverclass.img-margin-center {
    float: left;
    display: inline-block;
    width: 35%;
  }
  .mapa-wpisow .postcontent h5.entry-title {
    font-size: 20px;
    line-height: 1.2em !important;
    margin-top: 0;
  }

  .mapa-wpisow .kad_blog_fade_in.grid_item:not(:first-of-type) {
    width: 100%;
    clear: both;
    margin-top: 0px;
    padding-top: 30px;
    border-top: 1px dotted #ccc;
    margin-bottom: 30px;
  }
  .mapa-wpisow .blog_item header,.mapa-wpisow-collab-10 .entry-content p, .mapa-wpisow-collab-10 .blog_item footer {
    margin-left: 35%;
  }
}

/* FIX DLA FULL WIDTH 06-12-2018 */
.page-mapa-wpisow .main {
  padding: 0;
}
.page-mapa-wpisow .container-1170px {
  max-width: 1170px;
  margin: 45px auto;
}

