/*
@TODO refactor to sass
*/
.page-konsultacje-cv .contentclass {
  padding-top: 0px;
}
.page-konsultacje-cv .section-title h3 {
  font-size: 40px;
  color: inherit;
  margin-bottom: 0;
}
.page-konsultacje-cv .text-hover-white a.ow-button-hover:hover span {
  color: #ffffff !important;
}
.page-konsultacje-cv .text-style-inherit, .page-konsultacje-cv .text-style-inherit h4 {
  line-height: inherit !important;
  color: inherit !important;
  font-weight: inherit !important;
  letter-spacing: inherit !important;
}
.page-konsultacje-cv #font-size1-1em h4 {
  font-size: 1.1em !important;
}
.page-konsultacje-cv #font-size1em h4 {
  font-size: 1.1em !important;
}
.page-konsultacje-cv .sow-headline-container h4.sow-sub-headline {
  padding-top: 0;
}
.page-konsultacje-cv #border-dotted {
  border: 1px dotted #fff;
}
.sklep-banner {
}

.page-konsultacje-cv .outline-radius-full .sow-icon-container span {
  width: 1.85em;
  height: 1.85em;
  line-height: 1.85em;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  border: 2px dotted #ffffff;
  border-radius: 50%;
}
/* TOP TITLE - HEADER TABELI */

.page-konsultacje-cv .so-widget-sow-price-table .ow-pt-column.ow-pt-featured.ow-pt-odd {
  padding: 0 5px;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-title {
  font-size: 1.4em !important;
  letter-spacing: 0.035em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) !important;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-details .ow-pt-price {
  font-weight: 600 !important;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) !important;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-details .ow-pt-per {
  color: rgba(255, 255, 255, 0.62) !important;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  font-size: 0.9em;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-image {
  background: #f9f9f9;
  display: block;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-image img {
  margin-left: 24%;
  padding-top: 5px;
}


/* PAKIET SILVER - HEADER COLORS */
.page-konsultacje-cv .ow-pt-column.ow-pt-first.ow-pt-even {
  background: #eeeeee;
  border-radius: 5px;
}
.page-konsultacje-cv .ow-pt-column.ow-pt-first.ow-pt-even .ow-pt-title, .page-konsultacje-cv .ow-pt-column.ow-pt-first.ow-pt-even .ow-pt-details {
  border-color: #4f5254 !important;
  border-top-color: #52565d !important;
  background-color: #56595b !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #575f61), color-stop(1, #7d8587));
  background: -ms-linear-gradient(bottom, #575f61, #7d8587);
  background: -moz-linear-gradient(center bottom, #575f61 0%, #7d8587 100%);
  background: -o-linear-gradient(#7d8587, #575f61);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d8587', endColorstr='#575f61', GradientType=0);
}

/* PAKIET DIAMOND - HEADER COLORS */
.page-konsultacje-cv .ow-pt-column.ow-pt-last.ow-pt-even .ow-pt-title {
  border-color: #0a3e53 !important;
  border-top-color: #6ba0b7 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #051c25), color-stop(1, #0a3e53)) !important;
  background: -ms-linear-gradient(bottom, #051c25, #0a3e53) !important;
  background: -moz-linear-gradient(center bottom, #051c25 0%, #0a3e53 100%) !important;
  background: -o-linear-gradient(#0a3e53, #051c25) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a3e53', endColorstr='#051c25', GradientType=0) !important;
}
.page-konsultacje-cv .ow-pt-column.ow-pt-last.ow-pt-even .ow-pt-details {
  border-color: #09374a !important;
  border-top-color: #0d4f6a !important;
  background-color: #0d4f6a !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #063042), color-stop(1, #0d4f6a)) !important;
  background: -ms-linear-gradient(bottom, #063042, #0d4f6a);
  background: -moz-linear-gradient(center bottom, #063042 0%, #0d4f6a 100%);
  background: -o-linear-gradient(#0d4f6a, #063042);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d4f6a', endColorstr='#063042', GradientType=0);
}

/* PAKIET GOLD - HEADER COLORS */
.page-konsultacje-cv .ow-pt-column.ow-pt-featured .ow-pt-title {
  border-color: #8a661d !important;
  border-top-color: #e6cc97 !important;
  background-color: #9e7522 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8a5200), color-stop(1, #caa730)) !important;
  background: -ms-linear-gradient(bottom, #8a5200, #caa730) !important;
  background: -moz-linear-gradient(center bottom, #8a5200 0%, #caa730 100%) !important;
  background: -o-linear-gradient(#8a5200, #caa730) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a5200', endColorstr='#caa730', GradientType=0) !important;
}
.page-konsultacje-cv .ow-pt-column.ow-pt-featured .ow-pt-details {
  border-color: #966f20 !important;
  border-top-color: #7b5319 !important;
  background-color: #b38527 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #9e620a), color-stop(1, #b38527)) !important;
  background: -ms-linear-gradient(bottom, #9e620a, #b38527) !important;
  background: -moz-linear-gradient(center bottom, #9e620a 0%, #b38527 100%) !important;
  background: -o-linear-gradient(#b38527, #9e620a) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b38527', endColorstr='#9e620a', GradientType=0) !important;
}

/* LISTA OEFRTA - BODY TABELI */

.page-konsultacje-cv .ow-pt-column .ow-pt-image {
  background: #f9f9f9;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature {
  padding: 18px 20px 18px 18px !important;
}
.ow-pt-column .ow-pt-features .ow-pt-feature:first-child {
  padding-top: 14px !important;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature:last-child {
  border-bottom: 2px solid #fff !important;
  min-height: 60px !important;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature .sow-feature-icon {
  vertical-align: top !important;
  padding-top: 5px;
  padding-right: 5px;
}
.page-konsultacje-cv span.sow-icon-fontawesome:before {
  font-size: 1.45em;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature .sow-feature-text p {
  line-height: 1.57em;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature .sow-feature-text p > b {
  font-weight: 600;
  /*color: #008cad;*/
  color: #444546;
  letter-spacing: -0.05em;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature .sow-feature-text p > span {
  text-align: center !important;
}

/* WYBIERAM BUTTON - FOOTER TABELI */

.page-konsultacje-cv .ow-pt-button a.ow-pt-link {
  width: 100%;
  max-width: 300px;
  background: #d42e2e00 !important;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.2em !important;
  /* font-weight: 500; */
  text-shadow: none !important;
  border: none !important;
  box-shadow: none !important;
}
.page-konsultacje-cv .ow-pt-columns-atom .ow-pt-column.ow-pt-featured .ow-pt-button a.ow-pt-link, .page-konsultacje-cv .ow-pt-columns-atom .ow-pt-column .ow-pt-button a.ow-pt-link {
  background: transparent !important;
  background-color: rgba(212, 46, 46, 0) !important;
}
.page-konsultacje-cv .ow-pt-button {
  background-color: #d42e2e !important;
  background: #d42e2e !important;
  border-radius: 0 0 5px 5px;
}
.page-konsultacje-cv .ow-pt-button:hover {
  background-color: #c51d1d !important;
  background: #c51d1d !important;
}

@media screen and (max-width:1024px) and (min-width:992px){
  .page-konsultacje-cv .ow-pt-column .ow-pt-image img {
    width: 160px;
    height: auto;
  }
}
@media screen and (max-width:991px) {
  .sow-headline, h1.sow-sub-headline, h2.sow-sub-headline, h3.sow-sub-headline {
    text-align: center !important;
  }
}
@media screen and (max-width:768px) {
  .ow-button-base.ow-button-align-left {
    text-align: center;
    margin-top: -35px;
  }
}
@media screen and (max-width:991px) and (min-width:681px) {
  .page-konsultacje-cv .ow-pt-column .ow-pt-image img {
    width: 130px;
    height: auto;
  }
  .page-konsultacje-cv .ow-pt-column.ow-pt-first.ow-pt-even .ow-pt-price,
  .page-konsultacje-cv .ow-pt-column.ow-pt-featured.ow-pt-odd .ow-pt-price,
  .page-konsultacje-cv .ow-pt-column.ow-pt-last.ow-pt-even .ow-pt-price {
    font-size: 1.5em;
    line-height: 1em;
  }
}

@media screen and (max-width:680px) and (min-width:600px){
  .page-konsultacje-cv .ow-pt-column .ow-pt-image img {
    margin-left: 33%;
  }
}
@media screen and (max-width:599px) and (min-width:480px){
  .page-konsultacje-cv .ow-pt-column .ow-pt-image img {
    margin-left: 28%;
  }
}
@media screen and (max-width:424px) {
  .page-konsultacje-cv .ow-pt-column .ow-pt-image img {
    width: 150px;
    height: auto;
  }
}



/*centering the X icon on price tables*/
.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature.no-option span.sow-icon-fontawesome {
  width: 100%;
  text-align: center;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature.no-option .sow-feature-icon {
  display: inline-block;
  width: 100%;
}
.page-konsultacje-cv .ow-pt-column .ow-pt-features .ow-pt-feature.no-option .sow-feature-text {
  display: none;
  visiblity: hidden;
  width: 0;
}

