.page-o-nas {
  .section-title {
    h3 {
      font-size: 40px;
      color: inherit;
      margin-bottom: 0;
    }
  }

  .section-title-small {
    h3 {
      font-size: 30px;
      color: inherit;
    }
  }

  .section-more {
    h4 {
      font-size: 30px;
      color: #363656;
    }
  }

  .main {
    .textwidget {
      p {
        line-height: 1.5em;
        letter-spacing: 0.025em;
        margin-bottom: 12px;
      }

      .fa-lg {
        vertical-align: -5%;
      }

      b, strong {
        font-weight: 600;
        letter-spacing: 0.03em;
      }
    }

    .widget {
      h5 {
        letter-spacing: 0.025em;
      }
    }
  }

  .text-hover-white {
    a.ow-button-hover:hover {
      span {
        color: #ffffff !important;
      }
    }
  }


  .outline-radius-full {
    .sow-icon-container {
      span {
        width: 1.85em;
        height: 1.85em;
        line-height: 1.85em;
        vertical-align: middle;
        display: block;
        position: relative;
        border: 2px dotted #029bb5;
        border-radius: 50%;
      }
    }
  }

  a.ow-icon-placement-right {
    .ow-button-hover {
      padding: 15px 22px 15px 14px !important;
    }
  }

  #klaudia-jarych .sep-triangle-bottom, #lukasz-jarych .sep-triangle-bottom {
    margin-top: -20px;
  }
  @media screen
  and (min-device-width: 992px) {
    #klaudia-jarych .sep-triangle-bottom {

      margin-left: 22%;
    }
    #lukasz-jarych .sep-triangle-bottom {
      margin-left: -27%;
    }
  }
  @media screen and (max-width: 480px) {
    .sep-triangle-bottom {
      display: none;
    }
  }
}