body {
}


/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.6);
  }
}

/* Heart beat animation */
@keyframes show {
  to {
    opacity: 1;
  }
}

.fa-ms-3-slider-heart-icon {
  animation: beat .25s infinite alternate;
  transform-origin: center;

}

.ms-overlay-layers {
  .dp_kafelki.active {
    background-color: #0c73b8;
  }
}

.load-more-archive-posts {
  background-color: #14879b;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-family: Lato;
  margin: 8rem auto 8rem auto;
  display: block;
}

.archive {


  .load-more-spinner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 180px;
    opacity: 0;
    animation: show .25s 1 alternate;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards; /* FF 5+ */
    -o-animation-fill-mode: forwards; /* Not implemented yet */

    animation-fill-mode: forwards;

    .load-more-spinner {
      font-size: 50px;
      line-height: 100%;
      color: rgba(62, 99, 84, 0.37);
    }
  }

}


[id^="Pierwszamapa"] {
  white-space: initial !important;
}

.page-mapa-wpisow {

  #content {
    width: 100%;
  }
}


#o_nas.panel-row-style.panel-row-style-for-1449-4 {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 100%;
    margin: 0 auto;
  }
  @media screen and (min-width: 991px) {
    width: 980px;
  }

}

#pg-1449-2 {
  overflow: hidden;
}




