.woocommerce-notices-wrapper .woocommerce-message:before, .woocommerce-info:before {
  border: 4px solid #035c82;
  font-size: 3em;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 50px;
  font-weight: bold;
  vertical-align: middle;
  padding: 0;
  top: 10%;
  margin-right: 15px;
}
.woocommerce-message[role="alert"],  .woocommerce-info {
  padding-left: 85px;
}

@media screen and (max-width: 480px) {
  .woocommerce-message:before, .woocommerce-info:before {
    position: relative;
    margin: 5px auto 15px auto;
    text-align: center;
    margin-right: auto !important;
    left: auto;
  }
  .woocommerce-message[role="alert"], .woocommerce-message, .woocommerce-info {
    padding-left: 25px;
    text-align: center;
    margin: 5px auto 15px auto;
  }
}