/* GRUPA NOVA B.P. WSPÓŁPRACA */

.page-wspolpraca .grid-text-hover .widget_sow-editor {
  height: 100%;
}
.page-wspolpraca .text-hover {
  opacity: 0;
  cursor: crosshair;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.page-wspolpraca .text-hover:hover {
  opacity: 0.95;
  -webkit-transition: all 0.3s ease-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}
.page-wspolpraca .section-title h3 {
  font-size: 40px;
  color: inherit;
  margin-bottom: 0;
}
.page-wspolpraca .icon-outline-radius-full .sow-features-list span.sow-icon-elegantline  {
  vertical-align: middle;
  display: block;
  position: relative;
  border: 2px dotted #029bb5;
  border-radius: 50%;
}
.page-wspolpraca .sow-features-list .sow-features-feature h5 {
  margin: 0.2em 0 0.2em !important;
  line-height: 1.2em !important;
}
.page-wspolpraca .sow-features-list .sow-features-feature .textwidget > p {
  line-height: 1.44em;
}
.page-wspolpraca #formularz-brief .sow-accordion .sow-accordion-panel .sow-accordion-panel-content .sow-accordion-panel-border {
  padding: 15px;
}
.page-wspolpraca #dp_brief_form {
  padding-bottom: 100px;
  text-align: center;
}
.page-wspolpraca .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-title {
  text-align: center;
  font-size: 24px;
}
.page-wspolpraca #dp_brief_form h1 {
  font-size: 22px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 30px;
}
.page-wspolpraca .text-hover-white a.ow-button-hover:hover span {
  color: #ffffff !important;
}
.page-wspolpraca .testimonials-carousel h3.widget-title, .testimonials-carousel .testimonialbottom p {
  color: #fff;
}
.page-wspolpraca .testimonials-carousel .testimonialbottom p {
  margin-top: 10px;
}

.page-wspolpraca #cat_nav {
  background-color: #14879b !important;
}
.page-wspolpraca #nav-second ul.sf-menu a {
  color: #fff !important;
}
.page-wspolpraca .contentclass {
  padding-top: 0;
  padding-bottom: 0;
}
.page-wspolpraca .page-title-dotted h2:before, .page-wspolpraca .page-title-dotted h2:after {
  content: "";
  display: inline-block;
  border-top: 2px dotted #ffffff;
  width: 100%;
  vertical-align: middle;
  max-width: 12%;
}
@media screen and (max-width: 768px) {
  .page-wspolpraca .mobile-align-center h1.sow-headline,
  .page-wspolpraca .mobile-align-center h2.sow-headline,
  .page-wspolpraca .mobile-align-center h3.sow-headline,
  .page-wspolpraca .mobile-align-center h4.sow-sub-headline,
  .page-wspolpraca p, .page-wspolpraca a, .page-wspolpraca span,
  .page-wspolpraca .ow-button-base.ow-button-align-left {
    text-align: center !important;
  }
  .page-wspolpraca .so-panel {
    margin-bottom: 0 !important;
  }
  .page-wspolpraca .page-title-dotted h2:before {
    max-width: 25%;
    display: block;
    margin-top: -20px;
    margin-bottom: 65px;
  }
  .page-wspolpraca .page-title-dotted h2:after {
    max-width: 25%;
    display: block !important;
    margin-top: 65px;
    margin-left: 74%;
  }
}

/* OFERTA GRID RE-DESIGN 25-11-2018 */

.page-wspolpraca i.fa-l-medium-left {
  font-size: 8.5rem;
  display: block;
  float: left;
  padding-right: 15px;
  margin-top: 2px;
  margin-bottom: 15px;
}
.page-wspolpraca i.fa-s-medium-left {
  font-size: 6.8rem;
  display: block;
  float: left;
  padding-right: 15px;
  margin-top: -3px;
  margin-bottom: 8px;
}
.page-wspolpraca i.fa-medium-left {
  font-size: 7.7rem;
  display: block;
  float: left;
  padding-right: 15px;
  margin-top: -3px;
}
.page-wspolpraca i.fa-s-medium2-left {
  font-size: 7.4rem;
  display: block;
  float: left;
  padding-right: 15px;
  margin-top: 9px;
  margin-bottom: 10px;
}
.page-wspolpraca .grid-text b, .page-wspolpraca .grid-text strong {
  font-weight: 500;
  letter-spacing: 0em;
}

@media screen and (max-width: 768px) {
  .page-wspolpraca .grid-oferta-title p {
    text-align: center !important;
  }
}